[2022-02-10 21:03] tcarrio commented on #1538
This issue still occurs. Encountering the 403 access denied error when trying to retrieve the precompiled bundle from S3.

[2022-02-10 22:03] tcarrio commented on #1538
As a short follow-up: `sqlite` mentions there is no support for Node 16.x. It is worth checking if this is what you are running when you run into this issue. If you are hitting a 403 error **and** can't build, you probably have homebrew overriding your path for `libtool` or other tooling for compiling the SQLite3 module.

If you happen to be someone who

1. Gets a 403 on pulling the module in `nod

[2022-02-10 22:55] marcin-zajac commented on #1538
If you use yarn to install packages, you may use npm, for me it works in this case.

[2022-02-11 14:26] JeremyPasco opened #1543 "Sqlcipher makes sqlite unstable"
Hi,
I've build sqlite with sqlcipher sucessfully. Everything works fine if I use sqlite without sqlcipher features. But as soon as I works with an encrypted db, the main process is killed after a few requests.

Here is an example thas works on a non-encrypted file but fails with a passphrase:

[code]

In both cases (with or without encryption), I get correct results in console. But with encryption

[2022-02-11 17:46] Terxeno commented on #1421
Same Error!

[2022-02-11 19:57] danielehrhardt commented on #1538
How should the Path look like?

[2022-02-11 20:19] danielehrhardt commented on #1540
If you want to use `sqlite3` with a M1 / M1 Pro / M1 Max do the following:

1. Start a Terminal using Rosetta
2. Verify with `arch` it should be `i386`
3. `nvm install lts/fermium`
4. `nvm use lts/fermium`
5. `node -e 'console.log(process.arch)'`  it should be `x64`
6. `nvm alias intel lts/fermium`
7.  `nvm use intel` this you can use in the project
8. Navigate to the project
9. `rm -rf node_modul

[2022-02-11 20:19] danielehrhardt commented on #1538
If you want to use `sqlite3` with a M1 / M1 Pro / M1 Max do the following:

1. Start a Terminal using Rosetta
2. Verify with `arch` it should be `i386`
3. `nvm install lts/fermium`
4. `nvm use lts/fermium`
5. `node -e 'console.log(process.arch)'`  it should be `x64`
6. `nvm alias intel lts/fermium`
7.  `nvm use intel` this you can use in the project
8. Navigate to the project
9. `rm -rf node_modul

[2022-02-11 20:19] danielehrhardt commented on #1537
If you want to use `sqlite3` with a M1 / M1 Pro / M1 Max do the following:

1. Start a Terminal using Rosetta
2. Verify with `arch` it should be `i386`
3. `nvm install lts/fermium`
4. `nvm use lts/fermium`
5. `node -e 'console.log(process.arch)'`  it should be `x64`
6. `nvm alias intel lts/fermium`
7.  `nvm use intel` this you can use in the project
8. Navigate to the project
9. `rm -rf node_modul

[2022-02-12 02:56] lixingyangok commented on #1262
i am facing the same issue, cannot loadExtension

[2022-02-13 06:31] reorx commented on #1538
If you are using:
- macOS: 12.1 Monterey
- chip: Apple M1
- node version: v16.13.0

Then you can try the following:

[code]

<details>
  <summary>Thank you.</summary>
  操你妈的狗 node-gyp
</details>

[2022-02-15 09:01] shakedo commented on #1536
Same here, when a new version will be published

[2022-02-15 14:46] suyeonpi commented on #1421
Same issue

[2022-02-17 12:00] shenzhuxi commented on #526
I found that mod_spatialite can be loaded but can't be used.
The behaviour is very similar to better-sqlite3, https://github.com/JoshuaWise/better-sqlite3/issues/520#issuecomment-1024265223.
After loadExtension, it will fail at "InitSpatialMetaData". I guess https://github.com/mapbox/node-sqlite3/blob/593c9d498be2510d286349134537e3bf89401c4a/test/extension.test.js only did the the load test.

I wo

[2022-02-23 14:35] hongquan09dth5 commented on #1436
It's interesting because I got this issue in 5.0.2 as below:

`node-pre-gyp WARN Pre-built binaries not installable for sqlite3@5.0.2 and node@14.17.0 (node-v83 ABI, unknown) (falling back to source compile with node-gyp)
node-pre-gyp WARN Hit error connect ETIMEDOUT 52.216.92.155:443
gyp ERR! find Python
gyp ERR! find Python Python is not set from command line or npm configuration
gyp ERR! find P

[2022-02-23 21:52] ErichMoraga commented on #1226
I have the same issue.  @WHK102 Did you ever figure it out?

[2022-02-25 17:50] fedu commented on #1538
+1

[2022-03-01 11:48] rogerdielrton opened #1545 "Install against an external v3.38.0 SQlite results in v3.36.0"
Hello.
I need to use the 3.38 version of SQlite.
I'm using Ubuntu 20.04.4 LTS operating system and NodeJS version 14.15.2.

I downloaded Precompiled Binaries for Linux:
  https://www.sqlite.org/2022/sqlite-tools-linux-x86-3380000.zip
unzipped and installed into
  /opt/sqlite-tools-linux-x86-3380000

I followed this instructions:
  https://github.com/mapbox/node-sqlite3#source-install
$ sudo apt in

[2022-03-01 11:49] rogerdielrton opened #1546 "Upgrade to SQlite version 3.38 (JSON on by default)"
Hello.
It would be a good thing to move SQlite from 3.36 to 3.38.
Particulary for this feature:

https://www.sqlite.org/releaselog/3_38_0.html
  SQLite Release 3.38.0 On 2022-02-22
  The JSON functions are now built-ins. It is no longer necessary to use the -DSQLITE_ENABLE_JSON1 compile-time
  option to enable JSON support. JSON is on by default.
  Added the -> and ->> operators for easier process

[2022-03-01 14:20] lroal opened #1547 "Can't install sqlite3 on Node 16"
`npm install`

[code]

[2022-03-02 23:12] paulfitz commented on #1438
I think this happened in https://github.com/mapbox/node-sqlite3/pull/1507

[2022-03-03 00:32] JohnUSA commented on #1421
Same issue

[2022-03-03 05:18] bojanbizjak commented on #1421
Same issue

[2022-03-05 13:36] etissieres commented on #1547
Hi, it seems that you are using python 3.9 to build this (`Command failed: C:\Python39\python.EXE`).
This syntax is not compatible with python3 : `import sys; print "%s.%s.%s" % sys.version_info[:3];`.
Try to install python 2.7 and add it in your path so that it has priority over python 3.9 then npm install again.

[2022-03-05 23:24] Silur opened #1549 "segfault on promisified calls"
Wrapping sqlite3 calls using node's builting promisify results in a segfault on node 17.6.0:
[code]

<details>
<summary> Segfault core dump </summary>

[code]

</details>

### System: Arch linux x86_64, node 17.6.0 (NVM)

[2022-03-07 18:51] lroal commented on #1547
Thank's - it worked !
I would be nice though if it worked with both python 2.7 and 3.9. Or if the binaries where pre built.

[2022-03-07 18:51] #1547 closed

[2022-03-09 04:46] tonytechio commented on #1513
I have the same issue. :(

[2022-03-11 23:07] MrTob commented on #1513
same here

[2022-03-13 14:40] chenpx976 commented on #1513
https://github.com/mapbox/node-sqlite3/issues/1538#issuecomment-1037839683

[2022-03-16 01:12] programmin1 opened #1551 "Linux-Arm64 issue"
I have had issues building this for Librem phone, as described here... do you know if this is yet a known issue? Not sure if this should just be appended to some arm64/M1 issue if that is similar.

https://github.com/ezra-bible-app/ezra-bible-app/discussions/644#discussioncomment-2362860

[2022-03-16 17:09] merrickfox opened #1552 "MacOS Monterey 12.3 no longer has Python 2.7 installed, finding it very difficult to use sqlite3"
Output from `yarn install`

[code]

I've tried pointing it at `python3` which does come installed but the code relies on python 2.7 syntax.

I have also been trying to install python 2.7 back on the system with little luck, homebrew seems to have made it hard to install, and `pyenv` is even having issues on the apple silicon, at least for me, this is with trying workarounds using another `x86_64`

[2022-03-16 20:42] Vendll commented on #1552
I had the same problem (M1 Mac, just updated), I've downloaded python 2.7.18 from python.org and duplicated my terminal.app, and set it to use rosetta, now it works. It is not optimal but for now the only option I could find.

[2022-03-16 21:10] merrickfox commented on #1552
Thanks, I didn't actually think of downloading an installer from the official site, almost seems a bit old school, but I tried it and it worked!

[2022-03-17 04:01] patiwet commented on #1552
I install 2.7.18 through pyenv it work for me.

[2022-03-18 00:59] brodock commented on #1552
the root of the problem is the bundled sqlite3 tar file `sqlite-autoconf-3360000.tar.gz` which itself contains calls to a hardcoded `python` command. If you bypass that file and use an external sqlite3 it should work.

I'm using HomeBrew, and therefore:

[code]

with this, I can run:

[code]

[2022-03-20 06:10] bmccorm2 commented on #1552
Having the same issue.  Aside from reinstalling python 2.7 along with the existing installation there is no solution for this now?

[2022-03-20 18:39] mohd-akram commented on #1292
Hi folks, what's the update on this? There are currently several major issues:

- Outdated bundled SQLite
- Vulnerabilities
- Broken build on machines without python 2 (eg. macOS starting from 12.3)
- Broken worker thread support

I'm willing to take over maintaining the package if there are no other volunteers.

[2022-03-20 18:46] mohd-akram commented on #1552
This is because of the python invocation in `deps/sqlite3.gyp`. Luckily, it reads the npm config before falling back to `python`. To workaround the issue, run this once:

    npm config set python python3

[2022-03-20 18:52] bmccorm2 commented on #1552
@mohd-akram - thanks that works locally but i tried the same in a dockerfile and it complains about the python executable.  Any ideas on how to build a docker image?

[2022-03-20 19:01] mohd-akram commented on #1552
That command modifies the config for the current user. It's possible that you're running `npm install` as a different user. You can try `npm config -g global set python python3` to set the option globally. See [here](https://docs.npmjs.com/cli/v8/configuring-npm/npmrc) for more info.

[2022-03-20 20:10] bmccorm2 commented on #1552
Sorry I'm a mac noob here; in my linux box i would just set a symbolic link to python3 and call it python.  When i try to do that on the mac it just prompts me to install command line tools which are already installed.  Then, I've set the variable globally with `npm config set python=python3` and can see it is set via `npm config ls -l`.  However still gives the error.

[2022-03-21 08:59] kewde commented on #1292
@mohd-akram I tried to find an extensive user of this library to take over but had no response.
I don't have the necessary infrastructure in place to support the CI for this project, which is responsible for the builds and distribution.

The main blockers are:
* Travis stopped providing free builds so all MacOS & Linux builds can't be published (Microsofts node-sqlite3 fork has Github actions supp

[2022-03-21 10:08] mohd-akram commented on #1292
Yes, it makes sense to move everything over to GitHub Actions which AFAIK is free for public repos. It's just a matter of creating releases and uploading artifacts, then having the library fetch them on install. A cursory search brings up [prebuild](https://www.npmjs.com/package/prebuild-install) which lets you do this. Alternatively, the prebuilt binaries can be bundled with the npm package itsel

[2022-03-21 14:09] rufreakde commented on #1552
Even if you do a symlink this cant be build with python3. Since it is python2. Here is the alias for your .rc file though (if you installed python3 with homebrew):
[code]

[2022-03-22 02:22] conglp90 commented on #1513
Same issue, i think in last day it work. May be by mac os update?

[2022-03-22 06:35] ErisDS commented on #1292
@kewde ghost have been in discussions with mapbox about taking over the repo for a long time.

Without owning the repo we don’t have the perms to fix things properly.

@springmeyer emailed me recently to say it was all happening but no movement yet.

There is a package @vscode/sqlite3 that is a drop-in replacement but no one wants to manage that long term either and also better-sqlite3.

[2022-03-22 09:28] guidone commented on #1552
It worked to me installing the older version of Python with `pyenv`:

1. Install pyenv with `brew install pyenv`
2. Install Python 2.7 with `pyenv install 2.7.18`
3. Install SQLite using Python 2.7 wth `npm install sqlite3 --python=~/.pyenv/versions/2.7.18/bin/python`

[2022-03-22 11:30] guidone commented on #1552
This worked for me

1. Install pyenv with `brew install pyenv`
2. Install Python 2.7 with `pyenv install 2.7.18` and then `pyenv global 2.7.18`
3. Then set the default paths `export PATH="${HOME}/.pyenv/shims:${PATH}"`
4. Finally `npm install sqlite3`

[2022-03-23 12:45] allanbarcelos commented on #1421
Same issue here

[2022-03-23 14:09] the1corndog commented on #1493
Hello,

Is there a reason why this vulnerability hasn't been released yet? Seems the problem was resolved in the code base?

Thank you

[2022-03-24 21:50] VsevolodKurochka commented on #1552
Hello! After your steps I also get the error:
stack Error: Can't find Python executable "python2.7.18", you can set the PYTHON env variable.

Maybe I understand you wrong but where I should write the following code: "export PATH="${HOME}/.pyenv/shims:${PATH}"" ? In console?

[2022-03-25 07:12] guidone commented on #1552
Yes in console

[2022-03-25 08:09] cy92830 commented on #1552
macos no longer support python@2. can we update the script to python@3?

[2022-03-25 08:21] ylno commented on #1552
Found a quick fix for this problem, settings symlinks for pip and python:
`ln -s /usr/local/bin/python3 /usr/local/bin/python
ln -s /usr/local/bin/pip3 /usr/local/bin/pip3
`

[2022-03-26 01:30] wrmack commented on #1552
Where does the requirement for node-gyp@3.8.0 come from?  Node-gyp is up to version 9 now.  [3.8.0](https://github.com/nodejs/node-gyp/tree/v3.8.0) requires python 2.7.  The [latest version](https://github.com/nodejs/node-gyp/tree/master) requires python 3.7 - 3.10.  v3.8.0 is not a dependency of node-sqlite3.  It depends on version 7.x. in package.json.

I had no problems on Mac M1 using @vscode/

[2022-03-26 02:11] wrmack commented on #1552
Discussion [here](https://github.com/mapbox/node-sqlite3/pull/1522) and suggestion to change"

[code]
to:

[code]
At least that upgrades node-gyp to version 7.  It requires python v2.7, v3.5, v3.6, v3.7, or v3.8.

[2022-03-26 06:47] ronaldlangeveld commented on #1552
What worked for me on MacOS Monterey 12.3 (M1 Pro).

Install Python2.7 via Pyenv as instructed by @guidone.
Find the directory where Python2 is installed, ```which -a python2```.

In my case it was ```/Users/username/.pyenv/shims/python2```

Then export to your NPM config.

```$ export npm_config_python=/path/to/python2```

check if that is configured by listing the config:

```$ npm config list``

[2022-03-26 16:21] wodka commented on #1552
For me it was enough to install node-gyp as a devDependency - now the build is working with python3

[2022-03-28 14:36] landodesign commented on #1552
I tried all this and I'm still getting a bunch of errors like

`npm ERR! ERROR:root:code for hash`

It looks like it's an issue with node-gyp so I tried to run "node-gyp rebuild" but I'm getting another error:

`gyp: binding.gyp not found`

Basically I'm looping through errors.

I'm also on a Macbook with MacOS Monterey 12.3. Incidentally, on my Macmini running Monterey 12.1 everything works fine.

[2022-03-28 17:56] wrmack commented on #1552
@landodesign I have gone back to using:
[code]
and it works fine.  It installs the mapbox sqlite3 but seems to work better.  And uses python3.  If you try this I suggest make the change in package.json, delete package-lock.json and delete your project's node_modules folder then run `npm install` to re-install all dependencies.

Not sure if this is relevant, but if I do `npm ls node-gyp` or `npm li

[2022-03-29 07:58] landodesign commented on #1552
After trying different solutions, I managed to make it work by downgrading Nodejs version from 17 to 12!

So just to sum it up:

1. Open iTerm with Rosetta (also, if you're on VSCode like me, follow [this](https://dev.to/markwitt_me/creating-a-custom-vscode-terminal-profile-for-using-rosetta-on-an-m1-mac-apple-silicon-2gb2) )
2. Follow @guidone 's steps to install python 2
3. Downgrade Nodejs from

[2022-03-29 19:10] ipetrovic11 opened #1553 "Missing some(electron, arm64) prebuilt binaries via node-pre-gyp"
We are using Sqlite3 with electron and building it both for x64 and arm64 platforms(universal).

We noticed recently that prebuilt binaries are missing and that we are getting 403 errors when downloading.

This is not available:
https://mapbox-node-binary.s3.amazonaws.com/sqlite3/v4.1.1/electron-v16.0-darwin-arm64.tar.gz
https://mapbox-node-binary.s3.amazonaws.com/sqlite3/v4.2.0/electron-v16.0-dar

[2022-03-30 16:37] mantzaris commented on #1504
Is it not possible to place the require for sqlite3 in a module without causing this issue? Why does it not cause a problem when being used in main.js but this problem in every other place?

[2022-03-31 09:10] qidizi commented on #1504
also crashes

---

The steps to reproduce are as follows:
1.  Open a blank html through "electron";
1.  Execute the following code through the console `+function(){require('sqlite3')['verbose']();}();`;
1.  Refresh
1.  Execute the code through the console again:
1.  It crashes

---
env:

[code]

[2022-04-03 09:20] NotFakeAmigo opened #1554 "error when installing sqlite3 with npm"
I have problem with installing `sqlite3@latest`.
There is log (I am using `node@v16.14.2`):
[code]

[2022-04-03 20:02] PsclDev commented on #1538
None of the Answered helped so far for me, has Anyone something new found out?

[2022-04-04 04:03] Pomax opened #1555 ""The sqlite3 module works with: Node.js v11.x, v12.x, v13.x and v14.x." but current LTS is 16"
Can the README.md be updated to explain which module should we use for Node v15, v16, v17, and (very soon) v18?

[2022-04-04 04:28] Pomax commented on #1547
Python 2.7 was officially killed off in 2020, it should _never_ be installed anymore.

[2022-04-04 04:33] Pomax commented on #1552
Note that python 2.7 reached EOL over 2 years ago, and has not -nor ever will- received security fixes since. The same goes for Node 12 a few days from now: that reached EOL on the 23rd of this month, and will never receive security updates ever again either. So the real fix here needs to come from mapbox here.

[2022-04-04 05:20] ronaldlangeveld commented on #1552
From what I've heard from within an organization, Mapbox largely abandoned this project.
Therefore I think, if possible, best would be to gradually start migrating things over the the vscode fork - or use better-sqlite3.

[2022-04-04 09:07] austinkloske22 commented on #1553
Is there a work-around or expected fix for this? My development is frozen because I have some pretty deep sqlite3 dependencies.

[2022-04-04 10:13] ipetrovic11 commented on #1553
@austinkloske22 if you have everything properly set, it can be built from the source.

[2022-04-04 10:57] michaelgambold commented on #1554
I too just discovered this. Nothing changed in my codebase.

If you not it has `npm ERR! /bin/sh: 1: python: not found` (which is the same as mine).

My machine is a mac running 12.3 and they just removed python2 so not sure if this is a factor in this. (Setting alias for python3 to python) did not fix

[2022-04-04 10:59] michaelgambold commented on #1554
Included my output as well

[code]

[2022-04-04 11:23] michaelgambold commented on #1554
So some digging and I can't build `node-sqlite3` as a project I get the same error as above.

However when I have a look at the `deps/sqlite3.gyp` file there is a reference to just "python"

<img width="700" alt="Screen Shot 2022-04-04 at 9 19 59 pm" src="https://user-images.githubusercontent.com/7439294/161533497-f1cc9a82-5c29-4ea7-a683-dbc243627046.png">

Even though I have aliased "python" to m

[2022-04-04 13:41] jonguenther commented on #1538
For me it worked when going back to Node 14 (`v.14.19.1`) using `nvm`.

[2022-04-04 13:42] visoft commented on #1538
This comment worked to help me install sqllite3 https://github.com/mapbox/node-sqlite3/issues/1413#issuecomment-753330430 on my M1 MacBook Pro with node v16.13.0

[2022-04-04 16:04] spamshaker commented on #1513
Same here

[2022-04-04 18:17] jwilsonimply commented on #1538
+1

[2022-04-05 04:16] sim017 commented on #900
I had to uninstall and install the npm again in order to fix this issue.

[2022-04-05 10:23] michaelgambold commented on #1554
Could be duplicate of https://github.com/mapbox/node-sqlite3/issues/1552

[2022-04-05 12:42] LC-06 commented on #1537
I used `npm ci` for step 10 but got `npm ERR! fsevents not accessible from chokidar`.

[2022-04-05 17:30] sc00 commented on #1513
Same issue in vue electron project

[2022-04-06 14:19] sandro-pasquali commented on #1552
If you need `sqlite3` as the package namespace (eg for Sequelize) you can use  `"sqlite3": "npm:@vscode/sqlite3@^5.0.8"`.

[2022-04-06 16:39] Pomax commented on #1552
Also note that [the advice](https://github.com/mapbox/node-sqlite3/issues/1552#issuecomment-1079726251) to first explicitly install the current version of `node-gyp` as devDependency (i.e. `npm install -D node-gyp`) prior to installing `sqlite3` may also yield a working version of this package without needing VScode's fork.

[2022-04-07 18:19] timoxley opened #1556 "PSA: Workaround for build errors on Node 16.14+ or ARM: try `@vscode/sqlite3`"
Posting here for visibility until mapbox pops out a new `sqlite3` release.

Try using `@vscode/sqlite3` instead of `sqlite3`.

https://github.com/microsoft/vscode-node-sqlite3

Worked for me!

#### Possibly Related

* https://github.com/mapbox/node-sqlite3/issues/1538
* https://github.com/mapbox/node-sqlite3/issues/1552
* https://github.com/mapbox/node-sqlite3/issues/1553
* https://github.com/mapb

[2022-04-07 18:37] lehni commented on #1555
I was just wondering the same! And yet another unexpected place to meet you again @Pomax ;)

[2022-04-08 02:16] willin commented on #1443
not fixed....

[code]

[2022-04-08 02:16] willin commented on #1443
mac m1 max, macOS 12

[2022-04-08 05:02] cclauss commented on #1443
The current release is v9.   https://github.com/nodejs/node-gyp/releases

Please upgrade node-gyp: https://github.com/nodejs/node-gyp/tree/master/docs

[2022-04-09 02:29] willin commented on #1443
[code]

npm i -g node-gyp ?

[2022-04-09 02:35] willin commented on #1443
[code]

[2022-04-09 02:49] cclauss commented on #1443
vs. v1.0.9 https://github.com/mapbox/node-pre-gyp/blob/master/CHANGELOG.md

[2022-04-09 11:28] chenpx976 commented on #1519
colse by https://github.com/mapbox/node-sqlite3/issues/1538#issuecomment-1037839683

[2022-04-09 11:28] #1519 closed

[2022-04-11 17:33] ErisDS commented on #1292
Hey everyone 👋

I apologise, I know it's been a long period of radio silence, but we have been squirrelling away behind the scenes figuring out the best way forward and I'm pleased that we're now able to explain 😊

Since creating this incredible package, Mapbox have done an incredible job maintaining it, including hosting (at their own cost) the builds that make the sqlite3 package such a breeze t

[2022-04-11 17:33] #1292 closed

[2022-04-12 06:04] garyburgmann commented on #1556
@timoxley I had success with Docker today

[code]

[2022-04-12 06:06] garyburgmann commented on #1554
PSA: https://github.com/TryGhost/node-sqlite3/issues/1556#issuecomment-1096124246

[2022-04-12 06:07] garyburgmann commented on #1555
try: https://github.com/TryGhost/node-sqlite3/issues/1556#issuecomment-1096124246

[2022-04-12 07:20] renovate[bot] opened #1562 "Dependency Dashboard"
This issue provides visibility into Renovate updates and their statuses. [Learn more](https://docs.renovatebot.com/key-concepts/dashboard/)

## Awaiting Schedule

These updates are awaiting their schedule. Click on a checkbox to get an update now.

 - [ ] chore(deps): lock file maintenance

## Open

These updates have all been created already. Click a checkbox below to force a retry/rebase of any.

[2022-04-12 08:57] #1546 closed

[2022-04-12 14:46] daniellockyer opened #1565 "Update CI to `windows-latest` once `node-gyp` is bumped"
I had to use `windows-2019` for CI because the version of `node-gyp` we use doesn't support VS 2022.

`node-gyp` 8.4.0 does support it: https://github.com/nodejs/node-gyp/commit/5a00387e5f8018264a1822f6c4d5dbf425f21cf6

Once we've bumped the `node-gyp` version, we should be good to switch to `windows-latest`

[2022-04-12 15:19] Pomax commented on #1555
this issue is for getting the actual docs updated, so that no one else needs to hit up `/issues` for this project.

[2022-04-12 15:20] daniellockyer commented on #1555
@Pomax Thanks for the note, I'm doing a big overhaul of the repo and docs so I'll be sure to do this too 🙂

[2022-04-12 15:38] daniellockyer commented on #1536
I'm working on fixing up the repo after [recently taking over](https://github.com/TryGhost/node-sqlite3/issues/1292#issuecomment-1095337163). I will ship a new version soon 🙂

Given this is fixed in `main`, I'm going to close this for now

[2022-04-12 15:38] #1536 closed

[2022-04-12 16:01] daniellockyer commented on #1552
I'm on it 🙂 Fix will be landing in `master` soon and then it'll be released in due course

[2022-04-12 16:14] TehShrike commented on #1412
I am also curious how the caching works.  Specifically: is the cache in-memory, or does it somehow work across multiple processes/executions?

[2022-04-12 16:29] #1565 closed

[2022-04-13 06:44] ItsIgnacioPortal commented on #1360
This shouldn't be an issue in the first place. The default installation path for Visual Studio is under Program Files, and moving Visual Studio is not a small task at all.

[2022-04-13 06:53] ItsIgnacioPortal commented on #1360
This particular issue completely breaks Ghost on Windows. The last version that I've known to work is Ghost v4.41.3

[2022-04-13 07:31] ItsIgnacioPortal commented on #1360
Alright, so with this little go program that I named `Program.go`, I was able to obtain the parameters of whathever tried to incorrectly run something from Program Files:

[code]

I compiled the program, and moved it to "C:\Program.exe". After running `npm install @vscode/sqlite3 --save`, these were the contents of `C:\\Users\\Sherman\\Desktop\\access-log.txt`:

[code]

So, something wanted to run

[2022-04-13 07:39] daniellockyer commented on #1360
Hey @ItsIgnacioPortal 🙂 This should be resolved with https://github.com/TryGhost/node-sqlite3/commit/8db96d42be7f7aba506d04018cf6cbdc1bfa3373, which switches away from using Python found via `node-gyp`.

I'm also one of the developers of Ghost and we were forced to switch to `@vscode/sqlite3` because this repo was becoming unmaintained. Once it's fixed up and a new version is released, we should b

[2022-04-13 07:52] daniellockyer commented on #1453
`master` contains SQLite v3.38.2 - will be released soon 🙂

[2022-04-13 07:52] #1453 closed

[2022-04-13 07:56] daniellockyer commented on #1371
`node-sqlite` v5 switches to NAPI, so we're not particularly tied to particular Node versions any more. Windows x86 and x64 binaries exist for 5.0.2, and I'm going to publish a new version from `master` soon 🙂

[2022-04-13 07:56] #1371 closed

[2022-04-13 08:10] daniellockyer commented on #1340
This release was published so I'm going to close the issue 🙂

[2022-04-13 08:10] #1340 closed

[2022-04-13 08:11] daniellockyer commented on #1358
`sqlite3` v5.0.2 ships with v3.34.0 so I'm going to close this 🙂

[2022-04-13 08:11] #1358 closed

[2022-04-13 08:21] jjhbw commented on #1358
@daniellockyer you're doing great work thank you! 🙏

[2022-04-13 10:08] carlosfaria94 commented on #1556
Ghost team have taken the node-sqlite3 development! Great news for everyone! 🙏🚀

[2022-04-13 10:09] daniellockyer commented on #1555
Docs have been updated - let me know if they're still ambiguous 🙂

[2022-04-13 10:09] #1555 closed

[2022-04-13 10:10] daniellockyer commented on #1444
This should be fixed/no longer relevant 🙂

[2022-04-13 10:10] #1444 closed

[2022-04-13 10:11] daniellockyer commented on #1339
This should be fixed - I've made it publish with Node 16 which is the latest LTS 🙂

[2022-04-13 10:11] #1339 closed

[2022-04-13 10:35] daniellockyer commented on #1508
This should now be done 🙂

[2022-04-13 10:35] #1508 closed

[2022-04-13 14:43] daniellockyer commented on #1556
This should be fixed in `sqlite3` v5.0.3 - let me know if you still experience issues 🙂

[2022-04-13 14:43] #1556 closed

[2022-04-13 14:43] daniellockyer commented on #1472
This should be fixed in `sqlite3` v5.0.3 - let me know if you still experience issues 🙂

[2022-04-13 14:43] #1472 closed

[2022-04-13 14:43] daniellockyer commented on #1520
This should be fixed in `sqlite3` v5.0.3 - let me know if you still experience issues 🙂

[2022-04-13 14:43] #1520 closed

[2022-04-13 14:44] #1433 closed

[2022-04-13 14:44] #1360 closed

[2022-04-13 14:44] #1552 closed

[2022-04-13 14:45] daniellockyer commented on #1516
This should be fixed in `sqlite3` v5.0.3 - let me know if you still experience issues 🙂

[2022-04-13 14:45] #1516 closed

[2022-04-13 14:51] daniellockyer commented on #1493
`sqlite3` v5.0.3 has been shipped 🙂

[2022-04-13 14:54] candrews commented on #1459
This was included in 5.0.3: https://github.com/TryGhost/node-sqlite3/releases/tag/v5.0.3

[2022-04-13 14:58] daniellockyer commented on #1540
Would you be able to try with `sqlite3` v5.0.2? We've fixed up the build system, so it should build if the prebuilt binaries are not available 🙂

[2022-04-13 15:03] daniellockyer commented on #1483
I believe this should be fixed in v5.0.3 🙂

[code]

[2022-04-13 15:03] #1483 closed

[2022-04-13 16:38] daniellockyer commented on #1537
Hey @ARyaskov - would you be able to try with `sqlite3` v5.0.3? It should fix a lot of the build issues 🙂

[2022-04-13 16:38] #1537 closed

[2022-04-13 16:39] daniellockyer commented on #1513
Would you be able to try with `sqlite3` v5.0.3? It should fix a lot of the build issues 🙂

[2022-04-13 16:39] #1513 closed

[2022-04-13 16:41] daniellockyer commented on #1413
This should now be fixed in `sqlite3` v5.0.3 🙂

[2022-04-13 16:42] daniellockyer commented on #1538
Would you be able to try with `sqlite3` v5.0.3? 🙂

[2022-04-13 16:42] #1538 closed

[2022-04-13 16:42] daniellockyer commented on #1438
This is released in `sqlite3` v5.0.3 🙂

[2022-04-13 16:42] #1438 closed

[2022-04-13 16:43] daniellockyer commented on #1531
Would you be able to try with `sqlite3` v5.0.3? 🙂

[2022-04-13 16:43] #1531 closed

[2022-04-13 16:48] daniellockyer commented on #1533
The above answer is correct 🙂 Prebuilt binaries help remove the need for compilers and linkers on common environments.

FWIW, the binaries are now hosted on GitHub Releases as of v5.0.3 🙂

[2022-04-13 16:49] #1529 closed

[2022-04-13 17:04] daniellockyer commented on #1454
We no longer use Travis so I'm going to close this 🙂

[2022-04-13 17:04] #1454 closed

[2022-04-13 17:05] daniellockyer commented on #1364
This should no longer be relevant in `sqlite3` v5+ 🙂

[2022-04-13 17:05] #1364 closed

[2022-04-13 17:06] daniellockyer commented on #1391
Please update to `sqlite3` v5.0.3 🙂

[2022-04-13 17:06] #1391 closed

[2022-04-13 18:27] daniellockyer commented on #1413
@gpetrov I'm working on updating https://github.com/TryGhost/node-sqlite3/pull/1362 so we can get Linux builds, and I'm working on a solution to get Mac ones too 🙂 Watch this space ✨

[2022-04-13 18:33] ErisDS opened #1572 "Updated build system & new maintainers"
Hello SQLite3 users 👋

Since creating this repo, Mapbox have done an incredible job maintaining it, including hosting (at their own cost) the builds that have made the sqlite3 package such a breeze to install for most environments. Ghost have had a great relationship with Dane and the Mapbox team as we've been so dependent on the library and are very grateful for all the support they've given us t

[2022-04-13 18:37] ErisDS commented on #1545
Would you be able to try with sqlite3 v5.0.3? 🙂

[2022-04-13 18:37] #1545 closed

[2022-04-13 18:39] ErisDS commented on #764
Would you be able to try with sqlite3 v5.0.3? 🙂

[2022-04-13 18:39] #764 closed

[2022-04-13 18:41] #1437 closed

[2022-04-13 19:17] xPaw opened #1573 "Prebuilt linux x86"
Not sure if this is intentional, but it seems to be missing, it should be simple to add it in the gh action.

[2022-04-13 19:20] gpetrov commented on #1413
Awesome @daniellockyer ! Maybe also separate Electron builds? Or should the current ones already work?

Very glad you picked up the project - was going on a dead end otherwise!

[2022-04-13 19:46] daniellockyer commented on #1573
Does Node.js provide x86 binaries for Linux? 🤔

[2022-04-13 19:52] xPaw commented on #1573
There's https://unofficial-builds.nodejs.org/ which does appear to provide them.

But if no one actually uses it, then there's probably no point in adding it.

[2022-04-13 23:11] Trinovantes opened #1576 "fcntl64 symbol not found"
On v5.0.3, I'm getting this error when installed inside `node:14-alpine` docker base image

[code]

[code]

It seems alpine is missing some lib but shouldn't the prebuilt binaries be batteries included without requiring dynamic linking?

[2022-04-14 04:52] daniellockyer commented on #1389
Please try with v5.0.3 🙂

[2022-04-14 04:52] #1389 closed

[2022-04-14 04:57] daniellockyer commented on #1466
Would you be able to try with v5.0.3 please? 🙂

[2022-04-14 04:57] #1466 closed

[2022-04-14 04:58] daniellockyer commented on #1573
I would tend to agree 🙂 I don't think it's worth adding a build for it but if there's sufficient demand in the future, we can revisit it

[2022-04-14 04:58] #1573 closed

[2022-04-14 04:59] daniellockyer commented on #1526
Would you be able to try with v5.0.3? 🙂

[2022-04-14 04:59] #1526 closed

[2022-04-14 05:00] daniellockyer commented on #1228
This should be no longer relevant 🙂

[2022-04-14 05:00] #1228 closed

[2022-04-14 05:10] bkimminich commented on #1576
Same issue [here](https://github.com/juice-shop/juice-shop/runs/6011313367?check_suite_focus=true#step:3:565) before pinning `sqlite3` version to `5.0.2` instead of using `^5.0.0`. In my case a `node:16-alpine` image is affected which was [built on `node:16` and then copied over all build artifacts](https://github.com/juice-shop/juice-shop/blob/master/Dockerfile) to save space. Worked for many yea

[2022-04-14 05:22] daniellockyer commented on #1576
It seems we're missing the Linux MUSL variant of prebuilt binaries and our template string isn't specific enough to differentiate MUSL and Glibc platforms. Not sure why this wasn't a problem in v5.0.2 though

Would you be able to fallback to build, or stay on v5.0.2 for now? 🙂

[2022-04-14 05:33] #1492 closed

[2022-04-14 05:35] #1410 closed

[2022-04-14 05:35] #1411 closed

[2022-04-14 05:36] daniellockyer commented on #1393
This is no longer required as we switched to N-API 🙂

[2022-04-14 05:36] #1393 closed

[2022-04-14 05:37] daniellockyer commented on #1264
This should no longer be relevant 🙂

[2022-04-14 05:37] #1264 closed

[2022-04-14 05:38] #1168 closed

[2022-04-14 05:44] #1196 closed

[2022-04-14 05:48] daniellockyer commented on #770
Closing as this should no longer be relevant 🙂

[2022-04-14 05:48] #770 closed

[2022-04-14 08:44] daniellockyer commented on #1551
Prebuilt binaries should be available in the next release 🙂 If you still have an issue with `node-sqlite3`, let me know 🙂

[2022-04-14 08:44] #1551 closed

[2022-04-14 08:45] daniellockyer commented on #1553
Linux ARM64 binaries will be shipped in the next release. Unfortunately I haven't got a way of building macOS ARM64 binaries in CI right now 😕

[2022-04-14 08:45] #1553 closed

[2022-04-14 08:46] daniellockyer commented on #1502
These should be resolved in v5.0.3 so please update 🙂

[2022-04-14 08:46] #1502 closed

[2022-04-14 08:46] daniellockyer commented on #1576
I've added MUSL builds to CI, and they'll be shipped in the next release 🙂

[2022-04-14 08:46] #1576 closed

[2022-04-14 08:58] daniellockyer commented on #903
This has been shipped in `master` and will be released soon 🙂

[2022-04-14 08:58] #903 closed

[2022-04-14 12:29] vladfaust commented on #1509
Can't install the package locally on my M1 due to the same error. Any workarounds?

[2022-04-14 13:31] daniellockyer commented on #1202
The security vulnerabilities in v5.0.3 should now be fixed so I'm going to close this as the code snippet to list tables should work 🙂

[2022-04-14 13:31] #1202 closed

[2022-04-14 13:33] daniellockyer commented on #1512
The library uses the bundled version in the form of prebuilt binaries or compiled on your machine. You can also build from source as documented in the README 🙂

[2022-04-14 13:33] #1512 closed

[2022-04-14 13:33] daniellockyer commented on #1505
Would you be able to try on v5.0.3? 🙂

[2022-04-14 13:33] #1505 closed

[2022-04-14 13:34] #1467 closed

[2022-04-14 13:35] daniellockyer commented on #1417
Prebuilt Linux ARM64 binaries are coming in the next release.

Your problem looks unrelated to `node-sqlite3` so I'm going to close this 🙂

[2022-04-14 13:35] #1417 closed

[2022-04-14 13:37] daniellockyer commented on #418
This is done, pending release - please see my comment here: https://github.com/TryGhost/node-sqlite3/pull/1362#issuecomment-1098862537 🙂

[2022-04-14 13:37] #418 closed

[2022-04-14 13:38] daniellockyer commented on #572
Would you be able to try with the latest version? There might be prebuilt binaries for your platform, and building should work now 🙂

[2022-04-14 13:38] #572 closed

[2022-04-14 13:39] daniellockyer commented on #1329
Would you be able to try on the latest version - v5.0.3? 🙂

[2022-04-14 13:39] #1329 closed

[2022-04-14 13:40] daniellockyer commented on #1396
Would you be able to try with the latest version - v5.0.3? 🙂

[2022-04-14 13:40] #1396 closed

[2022-04-14 13:42] MasterOdin commented on #1329
Yeah, 5.0.3 works fine since it brings in a newer version of node-pre-gyp.

[2022-04-14 13:42] #1375 closed

[2022-04-14 13:43] TPXP opened #1578 "Prebuilt binaries from version 5.0.3 do not work on the Node v12 docker image"
Hello,

We're using `sqlite3` in a project running with Node.JS 12. Since version `5.0.3`, `require('sqlite3')` fails with a binary dependency error:
[code]

Other known impacted environments: projects deployed to the Node.js 12.x environment on AWS ElasticBeanstalk.

[2022-04-14 13:44] daniellockyer commented on #1194
Would you be able to try with the latest version - v5.0.3? 🙂

[2022-04-14 13:44] #1194 closed

[2022-04-14 13:49] daniellockyer commented on #824
Would you be able to try with v5.0.3? 🙂

[2022-04-14 13:49] #824 closed

[2022-04-14 13:50] #1185 closed

[2022-04-14 13:50] #1171 closed

[2022-04-14 13:51] daniellockyer commented on #687
Would you be able to try with v5.0.3? 🙂

[2022-04-14 13:51] #687 closed

[2022-04-14 13:52] #776 closed

[2022-04-14 13:53] daniellockyer commented on #1030
You should be able to [compile from source](https://github.com/TryGhost/node-sqlite3#source-install) 🙂

[2022-04-14 13:53] #1030 closed

[2022-04-14 13:56] Zebreus commented on #1578
This seems to affect all node alpine containers, independent of the node version. I tested `node:16-alpine` and `node:12-alpine` and node-sqlite3 works on none of them.

[2022-04-14 14:01] daniellockyer commented on #1578
It looks like `node:12` in Docker uses Debian Stretch, which probably ships an older version of glibc. I've updated the build environment recently so we've probably regressed on support for older glibc versions.

In the mean time, you can stay on v5.0.2, compile `sqlite3` from source or switch to `12-bullseye`, which ships with glibc 2.31 🙂

[2022-04-14 14:02] daniellockyer commented on #1578
@Zebreus Linux musl prebuilt binaries was fixed in https://github.com/TryGhost/node-sqlite3/commit/8b2cdd948a382b58162cb491f745ba9167dc7b0f and should be released soon 🙂

[2022-04-15 00:07] anlexN commented on #1375
@daniellockyer please answer me.

[2022-04-15 01:11] hideishi-m opened #1580 "Prebuilt binaries from version 5.0.3 do not work on CentOS 7"
Hello,

Prebuilt binaries of version 5.0.3 does not work on CentOS 7.

[code]

Prebuilt binary has improper dependency.

[code]

CentOS 7 has neither libc.so.6(GLIBC_2.28)(64bit) nor libm.so.6(GLIBC_2.29)(64bit).

[2022-04-15 02:52] hideishi-m commented on #1580
objdump from sqlite3@5.0.2

[code]

[2022-04-15 06:25] daniellockyer commented on #1580
Hey @hideishi-m, can you confirm what glibc version you see CentOS 7 containing? 🙂

[2022-04-15 07:00] daniellockyer commented on #1580
I see it ships with 2.17 - I think we might be able to restore compatibility with this:

[code]

[2022-04-15 07:08] daniellockyer commented on #1504
Would you be able to try with the new version - v5.0.3? We ship with NAPI v6 support now 🙂

[2022-04-15 07:08] #1504 closed

[2022-04-15 07:08] daniellockyer commented on #1521
Would you be able to try with v5.0.3? 🙂

[2022-04-15 07:08] #1521 closed

[2022-04-15 07:32] daniellockyer commented on #1463
Good to hear! 🙂 ARM64 prebuilt binaries are coming soon

[2022-04-15 07:32] #1463 closed

[2022-04-15 08:20] jjhbw commented on #1504
@daniellockyer this seems to solve the issue for me! I'm on electron `18.0.4`. Thanks for the good work! 🙏

[2022-04-15 08:53] daniellockyer commented on #1381
Would you be able to try with v5.0.3? 🙂

[2022-04-15 08:53] #1381 closed

[2022-04-15 08:54] daniellockyer commented on #1494
Prebuilt versions should be available for common platforms in v5.0.3, and more will be added in coming releases 🙂

[2022-04-15 08:54] #1494 closed

[2022-04-15 08:54] daniellockyer commented on #1370
Would you be able to try with v5.0.3 please? 🙂

[2022-04-15 08:54] #1370 closed

[2022-04-15 08:55] daniellockyer commented on #1515
Would you be able to try with v5.0.3 please? 🙂

[2022-04-15 08:55] #1515 closed

[2022-04-15 08:55] daniellockyer commented on #1479
This should be fixed with v5.0.3 🙂

[2022-04-15 08:55] #1479 closed

[2022-04-15 08:56] daniellockyer commented on #1489
I'm not sure this is related to `node-sqlite3` but if you still suspect otherwise, please let me know 🙂

[2022-04-15 08:56] #1489 closed

[2022-04-15 08:59] daniellockyer commented on #1395
@alex3d Looks like we should fix that 🙂 Do you have a short reproduction we can test with?

[2022-04-15 09:00] daniellockyer commented on #298
Closing as this is related to a very old version. Prebuilt ARM binaries should be coming in coming releases 🙂

[2022-04-15 09:00] #298 closed

[2022-04-15 09:01] daniellockyer commented on #387
Closing as this relates to an old version of `node-sqlite3` and should be irrelevant with Node-API 🙂

[2022-04-15 09:01] #387 closed

[2022-04-15 09:02] #569 closed

[2022-04-15 09:03] daniellockyer commented on #902
Would you be able to try with v5.0.3 please? 🙂

[2022-04-15 09:03] #902 closed

[2022-04-15 09:04] daniellockyer commented on #624
Please try with a newer version and let me know if you're still experiencing issues  🙂

[2022-04-15 09:04] #624 closed

[2022-04-15 09:05] daniellockyer commented on #707
Can you try with v5.0.3 please? 🙂

[2022-04-15 09:05] #707 closed

[2022-04-15 09:06] daniellockyer commented on #1331
Please try with the latest version - v5.0.3 🙂 I've had reports Electron v18 is compatible with it

[2022-04-15 09:06] #1331 closed

[2022-04-15 09:07] daniellockyer commented on #857
@rtran9 Would you be able to give a reproduction case? Happy to re-open if so 🙂

[2022-04-15 09:07] #857 closed

[2022-04-15 09:07] daniellockyer commented on #852
Would you be able to try with the latest version - v5.0.3? 🙂

[2022-04-15 09:07] #852 closed

[2022-04-15 09:09] daniellockyer commented on #813
Would you be able to try with v5.0.3? 🙂

[2022-04-15 09:09] #813 closed

[2022-04-15 09:09] daniellockyer commented on #786
v5.0.3 now ships with SQLite v3.38.2 🙂

[2022-04-15 09:09] #786 closed

[2022-04-15 09:09] daniellockyer commented on #785
Would you be able to try with v5.0.3? 🙂

[2022-04-15 09:09] #785 closed

[2022-04-15 09:10] daniellockyer commented on #940
v5.0.3 now ships with SQLite v3.38.2 🙂

[2022-04-15 09:10] #940 closed

[2022-04-15 09:10] daniellockyer commented on #937
Would you be able to try with v5.0.3? 🙂

[2022-04-15 09:10] #937 closed

[2022-04-15 09:11] daniellockyer commented on #839
Would you be able to try v5.0.3? 🙂

[2022-04-15 09:11] #839 closed

[2022-04-15 09:12] daniellockyer commented on #1061
Closing this for now - but I will re-add coverage 🙂

[2022-04-15 09:12] #1061 closed

[2022-04-15 09:13] daniellockyer commented on #1013
Please provide more details about how this relates to `node-sqlite3` - I suspect it's something to do with your OS 🙂

[2022-04-15 09:13] #1013 closed

[2022-04-15 09:15] daniellockyer commented on #982
Hey @reconbot 🙂 The GitHub Releases page should now list the download count per binary, at least it does if you use Refined GitHub - https://github.com/refined-github/refined-github

<img width="908" alt="CleanShot 2022-04-15 at 10 14 09@2x" src="https://user-images.githubusercontent.com/964245/163552216-1046bc69-e1b0-47cc-8bad-44b593602e04.png">

[2022-04-15 09:15] #982 closed

[2022-04-15 09:16] hideishi-m commented on #1580
Hello @daniellockyer

[code]

Same glibc as in docker container.

[2022-04-15 09:16] #964 closed

[2022-04-15 09:18] daniellockyer commented on #1137
Closing unless a reproduction case is given 🙂

[2022-04-15 09:18] #1137 closed

[2022-04-15 09:20] daniellockyer commented on #1133
Would you be able to try with v5.0.3 please? 🙂

[2022-04-15 09:20] #1133 closed

[2022-04-15 09:23] #1148 closed

[2022-04-15 09:25] daniellockyer commented on #266
I believe this has been implemented 🙂

[2022-04-15 09:25] #266 closed

[2022-04-15 09:28] #908 closed

[2022-04-15 09:29] #1258 closed

[2022-04-15 09:29] daniellockyer commented on #388
This should no longer be relevant 🙂

[2022-04-15 09:29] #388 closed

[2022-04-15 09:30] daniellockyer commented on #439
Closing as it doesn't seem related to `node-sqlite3` 🙂

[2022-04-15 09:30] #439 closed

[2022-04-15 09:30] daniellockyer commented on #409
Closing as we no longer use Appveyor 🙂

[2022-04-15 09:30] #409 closed

[2022-04-15 09:32] daniellockyer commented on #236
AFAICT this is now an `Illegal invocation error` so I'm going to close this 🙂

[2022-04-15 09:32] #236 closed

[2022-04-15 09:33] daniellockyer commented on #901
Would you be able to try with the latest version - v5.0.3? 🙂

[2022-04-15 09:33] #901 closed

[2022-04-15 09:34] daniellockyer commented on #905
I don't think this is needed anymore as we use Node-API in v5+ 🙂

[2022-04-15 09:34] #905 closed

[2022-04-15 09:34] daniellockyer commented on #880
Would you be able to try with v5.0.3? 🙂

[2022-04-15 09:34] #880 closed

[2022-04-15 09:35] daniellockyer commented on #836
Please try with the latest version - v5.0.3 🙂

[2022-04-15 09:35] #836 closed

[2022-04-15 09:37] daniellockyer commented on #777
Closing as dupe of https://github.com/TryGhost/node-sqlite3/issues/762

[2022-04-15 09:37] #777 closed

[2022-04-15 09:38] daniellockyer commented on #749
Please try with v5.0.3 🙂

[2022-04-15 09:38] #749 closed

[2022-04-15 09:39] #793 closed

[2022-04-15 09:40] #1022 closed

[2022-04-15 09:42] #1017 closed

[2022-04-15 09:43] #1231 closed

[2022-04-15 09:44] daniellockyer commented on #766
Would you be able to try with v5.0.3? 🙂

[2022-04-15 09:44] #766 closed

[2022-04-15 09:46] #1490 closed

[2022-04-15 09:48] daniellockyer commented on #628
Closing as duplicate of https://github.com/TryGhost/node-sqlite3/issues/762

[2022-04-15 09:48] #628 closed

[2022-04-15 09:48] daniellockyer commented on #527
Closing as duplicate of https://github.com/TryGhost/node-sqlite3/issues/762 🙂

[2022-04-15 09:48] #527 closed

[2022-04-15 09:49] daniellockyer commented on #637
Would you be able to try with v5.0.3? 🙂

[2022-04-15 09:49] #637 closed

[2022-04-15 09:49] daniellockyer commented on #843
Would you be able to try with v5.0.3? 🙂

[2022-04-15 09:49] #843 closed

[2022-04-15 09:51] #1015 closed

[2022-04-15 09:53] daniellockyer commented on #528
Would you be able to try with v5.0.3? 🙂

[2022-04-15 09:53] #528 closed

[2022-04-15 09:53] daniellockyer commented on #516
Closing as we no longer use Appveyor 🙂

[2022-04-15 09:53] #516 closed

[2022-04-15 09:55] daniellockyer commented on #656
Would you be able to try with v5.0.3? 🙂

[2022-04-15 09:55] #656 closed

[2022-04-15 09:58] #632 closed

[2022-04-15 10:01] daniellockyer commented on #1379
I think you should be able to supply `--silent` to `npm install` 🙂

[2022-04-15 10:01] #1379 closed

[2022-04-15 10:02] daniellockyer commented on #1377
The debug log is useful for when users report issues, but I believe it's also the default output in NPM. You should be able to provide `--silent` to `npm` to silence it 🙂

[2022-04-15 10:02] #1377 closed

[2022-04-15 10:06] daniellockyer commented on #1465
Please try with the latest version - v5.0.3 🙂

[2022-04-15 10:06] #1465 closed

[2022-04-15 10:10] daniellockyer commented on #659
Please try with v5.0.3 🙂

[2022-04-15 10:10] #659 closed

[2022-04-15 10:11] #665 closed

[2022-04-15 10:11] daniellockyer commented on #842
Would you be able to try with v5.0.3? 🙂

[2022-04-15 10:11] #842 closed

[2022-04-15 10:12] daniellockyer commented on #584
Would you be able to try with v5.0.3? 🙂

[2022-04-15 10:12] #584 closed

[2022-04-15 10:13] #815 closed

[2022-04-15 10:13] daniellockyer commented on #738
Would you be able to try with v5.0.3? 🙂

[2022-04-15 10:13] #738 closed

[2022-04-15 10:15] #844 closed

[2022-04-15 10:28] daniellockyer commented on #1359
Would you be able to try with v5.0.3? 🙂

[2022-04-15 10:28] #1359 closed

[2022-04-15 10:30] daniellockyer commented on #851
Would you be able to try with v5.0.3? 🙂

[2022-04-15 10:30] #851 closed

[2022-04-15 10:30] #154 closed

[2022-04-15 10:31] daniellockyer commented on #604
Would you be able to try with v5.0.3? 🙂

[2022-04-15 10:31] #604 closed

[2022-04-15 10:31] daniellockyer commented on #575
We no longer use NAN in v5+ so I'm going to close this 🙂

[2022-04-15 10:31] #575 closed

[2022-04-15 10:32] daniellockyer commented on #579
Would you be able to try with v5.0.3? 🙂

[2022-04-15 10:32] #579 closed

[2022-04-15 10:33] daniellockyer commented on #827
I'd say it's unlikely for now 🙂

[2022-04-15 10:33] #827 closed

[2022-04-15 10:35] daniellockyer commented on #802
The first parameter of the callback is the `err`, you probably want the second one 🙂

[2022-04-15 10:35] #802 closed

[2022-04-15 10:38] daniellockyer commented on #746
Would you be able to try with v5.0.3? 🙂

[2022-04-15 10:38] #746 closed

[2022-04-15 10:40] daniellockyer commented on #891
Would you be able to try with v5.0.3? 🙂

[2022-04-15 10:40] #891 closed

[2022-04-15 10:41] daniellockyer commented on #887
Haven't seen anything like that yet but will keep an eye out 🙂

[2022-04-15 10:41] #887 closed

[2022-04-15 10:41] daniellockyer commented on #1179
Would you be able to try with v5.0.3? 🙂

[2022-04-15 10:41] #1179 closed

[2022-04-15 10:43] daniellockyer commented on #1130
I'm not sure this is an issue anymore - at least, I can't reproduce it 🙂

[2022-04-15 10:43] #1130 closed

[2022-04-15 10:47] daniellockyer commented on #1122
Docs have been updated 🙂

[2022-04-15 10:47] #1122 closed

[2022-04-15 10:48] daniellockyer commented on #382
Would you be able to try with v5.0.3? 🙂

[2022-04-15 10:48] #382 closed

[2022-04-15 10:50] daniellockyer commented on #1047
v5.0.3 now ships with SQLite v3.38.2 so this should no longer be a problem 🙂

[2022-04-15 10:50] #1047 closed

[2022-04-15 10:59] daniellockyer commented on #157
I suspect this is no longer relevant/a problem 🙂

[2022-04-15 10:59] #157 closed

[2022-04-15 10:59] #290 closed

[2022-04-15 11:01] daniellockyer commented on #353
This no longer crashes and instead throws an `Illegal invocation error`

[2022-04-15 11:01] #353 closed

[2022-04-15 11:03] #550 closed

[2022-04-15 11:03] daniellockyer commented on #581
Please try with newer versions of `node-sqlite3` 🙂

[2022-04-15 11:03] #581 closed

[2022-04-15 11:03] #588 closed

[2022-04-15 11:04] daniellockyer commented on #618
This sounds like a permissions thing on your machine 🙂

[2022-04-15 11:04] #618 closed

[2022-04-15 11:04] #644 closed

[2022-04-15 11:06] daniellockyer commented on #657
Please try with the latest version - v5.0.3 🙂

[2022-04-15 11:06] #657 closed

[2022-04-15 11:07] #617 closed

[2022-04-15 11:07] daniellockyer commented on #727
Would you be able to try with v5.0.3? 🙂

[2022-04-15 11:07] #727 closed

[2022-04-15 11:09] daniellockyer commented on #243
Closing but I'll keep an eye out 👁️

[2022-04-15 11:09] #243 closed

[2022-04-15 11:14] #479 closed

[2022-04-15 11:14] #499 closed

[2022-04-15 11:15] daniellockyer commented on #594
Would you be able to try with v5.0.3? 🙂

[2022-04-15 11:15] #594 closed

[2022-04-15 11:16] #806 closed

[2022-04-15 11:16] daniellockyer commented on #817
Would you be able to try with v5.0.3? 🙂

[2022-04-15 11:16] #817 closed

[2022-04-15 11:19] daniellockyer commented on #742
Please try on the latest version - v5.0.3 - and let us know if there's still an issue 🙂

[2022-04-15 11:19] #742 closed

[2022-04-15 11:21] #734 closed

[2022-04-15 11:22] daniellockyer commented on #924
Would you be able to try with v5.0.3? 🙂

[2022-04-15 11:22] #924 closed

[2022-04-15 11:25] daniellockyer commented on #1497
Would you be able to try with v5.0.3? 🙂

[2022-04-15 11:25] #1497 closed

[2022-04-15 11:25] #1382 closed

[2022-04-15 11:26] daniellockyer commented on #1382
Please try with the latest version - v5.0.3 🙂

[2022-04-15 11:27] daniellockyer commented on #1380
You should be able to compile from source and link your local SQLite: https://github.com/TryGhost/node-sqlite3#source-install 🙂

[2022-04-15 11:27] #1380 closed

[2022-04-15 11:30] #1157 closed

[2022-04-15 11:31] daniellockyer commented on #1271
Please try with v5.0.3 and failing that, the library should compile locally now 🙂

[2022-04-15 11:31] #1271 closed

[2022-04-15 11:32] #1336 closed

[2022-04-15 11:33] daniellockyer commented on #1204
Please try with v5.0.3 🙂

[2022-04-15 11:33] #1204 closed

[2022-04-15 11:34] daniellockyer commented on #1064
Can you please try with v5.0.3? 🙂

[2022-04-15 11:34] #1064 closed

[2022-04-15 11:35] #1001 closed

[2022-04-15 11:36] daniellockyer commented on #1491
Would you be able to try with v5.0.3? 🙂

[2022-04-15 11:36] #1491 closed

[2022-04-15 11:37] daniellockyer commented on #1495
Can you please try with the latest version - v5.0.3? 🙂

[2022-04-15 11:37] #1495 closed

[2022-04-15 11:40] daniellockyer commented on #1448
I cannot reproduce this, but let me know if you still can with v5.0.3 🙂

[2022-04-15 11:40] #1448 closed

[2022-04-15 11:42] #1301 closed

[2022-04-15 11:42] daniellockyer commented on #1301
Closing as issue is stale 🙂

[2022-04-15 11:43] daniellockyer commented on #1270
Closing as issue is stale 🙂

[2022-04-15 11:43] #1270 closed

[2022-04-15 11:46] daniellockyer commented on #780
v5.0.3 ships with SQLIte v3.38.2, and v3.32.0 increased the limit to 32766. I'm going to close this as it should solve your initial request of 10000, although the limit is still not configurable yet 🙂

[2022-04-15 11:46] #780 closed

[2022-04-15 11:47] daniellockyer commented on #784
This is now shipped in the prebuilt binaries 🙂

[2022-04-15 11:47] #784 closed

[2022-04-15 11:56] daniellockyer commented on #874
Would you be able to try with v5.0.3? 🙂

[2022-04-15 11:56] #874 closed

[2022-04-15 11:57] #744 closed

[2022-04-15 11:59] #754 closed

[2022-04-15 12:02] daniellockyer commented on #781
Please open a PR and I'd be happy to take a look 🙂

[2022-04-15 12:02] #781 closed

[2022-04-15 12:03] #682 closed

[2022-04-15 12:06] daniellockyer commented on #1262
Please provide more details, including a reproduction case with your extension 🙂

[2022-04-15 12:06] #1262 closed

[2022-04-15 12:07] daniellockyer commented on #828
Please try with the latest version - v5.0.3 🙂

[2022-04-15 12:07] #828 closed

[2022-04-15 12:08] #745 closed

[2022-04-15 12:08] #664 closed

[2022-04-15 12:09] daniellockyer commented on #586
Would you be able to try with the latest version - v5.0.3? 🙂

[2022-04-15 12:09] #586 closed

[2022-04-15 12:09] daniellockyer commented on #598
Would you be able to try with the latest version - v5.0.3? 🙂

[2022-04-15 12:09] #598 closed

[2022-04-15 12:11] daniellockyer commented on #449
Please try with the latest version - v5.0.3 🙂

[2022-04-15 12:11] #449 closed

[2022-04-15 12:11] #551 closed

[2022-04-15 12:12] #530 closed

[2022-04-15 14:52] daniellockyer commented on #1428
Hey @elfin8er 👋🏻 I can't seem to reproduce this on the latest version - would you be able to try with v5.0.3? 🙂

[2022-04-15 14:52] #1428 closed

[2022-04-15 14:57] daniellockyer commented on #1297
Closing in favor of https://github.com/TryGhost/node-sqlite3/issues/809 🙂

[2022-04-15 14:57] #1297 closed

[2022-04-15 14:58] daniellockyer commented on #1224
Closing in favor of https://github.com/TryGhost/node-sqlite3/issues/809 🙂

[2022-04-15 14:58] #1224 closed

[2022-04-15 15:31] kewde commented on #809
@daniellockyer https://github.com/microsoft/vscode-node-sqlite3/blob/vscode/index.d.ts

[2022-04-15 15:34] daniellockyer commented on #809
@kewde I believe they also opened a PR for that here: https://github.com/TryGhost/node-sqlite3/pull/1527

Will get around to checking it at some point 🙂

[2022-04-15 15:54] daniellockyer commented on #497
Would you be able to try with v5.0.3? 🙂

[2022-04-15 15:54] #497 closed

[2022-04-16 02:50] Daegalus opened #1581 "Prebuilt Binaries from 5.0.3 causing errors in node:16-alpine docker image, but 5.0.2 same issue now"
I have a node app running in a node:16-alpine docker image, and the application starts fine, but when it tries to load sqlite and use it, I get the following stack trace:

[code]

[code]

Currently switching my docker to use the debian node images, incase that works, but thought I would report the alpine problem.

this is happening with version 5.0.2 and 5.0.3 but started happening only when I upg

[2022-04-16 02:54] Daegalus commented on #1581
So this might be related to the other issues, as under debian, I am getting the glibc issue.

The problem is I am getting it with 5.0.2 and 5.0.3 not just 5.0.3

[2022-04-16 02:57] vikaspotluri123 commented on #1581
duplicate of https://github.com/TryGhost/node-sqlite3/issues/1576

[2022-04-16 02:59] Daegalus commented on #1581
@vikaspotluri123 cool, sorry for the duplicate, but would you know why this is happening in 5.0.2 now? I assumed that would work, but the same error is throw on 5.0.2 now.

[2022-04-16 03:02] Daegalus commented on #1581
nvm, i just checked my image. 5.0.3 is being installed regardless of whats in my package.json

[2022-04-16 03:02] #1581 closed

[2022-04-16 21:26] sbmelvin commented on #1581
Did you hand edit your package.json?

[2022-04-16 21:31] daniellockyer commented on #1409
Would you be able to try with v5.0.3? 🙂

[2022-04-16 21:31] #1409 closed

[2022-04-16 22:24] Daegalus commented on #1581
Yes the mistake I made was I used `^5.0.2` as the version, which auto upgrades to 5.0.3. when I set it to `5.0.2` it hard pins the version and it worked.

[2022-04-17 00:55] danderson00 commented on #738
It's been a couple of years since using Windows (Ubuntu FTW). TBH, I can't
even remember the issue! Sorry!

On Fri, 15 Apr 2022 at 20:14, Daniel Lockyer ***@***.***>
wrote:

[2022-04-17 06:38] daniellockyer commented on #1542
Would you be able to provide more of a reproduction case? 🙂

[2022-04-17 06:38] #1542 closed

[2022-04-17 06:39] daniellockyer commented on #1542
Actually, I suspect this is a duplicate of https://github.com/TryGhost/node-sqlite3/issues/1532

[2022-04-17 06:44] daniellockyer commented on #1402
Closing as this issue is stale 🙂

[2022-04-17 06:44] #1402 closed

[2022-04-17 06:44] daniellockyer commented on #1480
Closing as duplicate of https://github.com/TryGhost/node-sqlite3/issues/1330 🙂

[2022-04-17 06:44] #1480 closed

[2022-04-17 06:54] daniellockyer commented on #1418
Would you be able to provide more details, including a link to build your library?

[2022-04-17 06:54] #1418 closed

[2022-04-17 06:57] daniellockyer commented on #1401
Closing as issue is stale 🙂

[2022-04-17 06:57] #1401 closed

[2022-04-17 07:36] daniellockyer commented on #1423
Would you be able to try with v5.0.3? 🙂

[2022-04-17 07:36] #1423 closed

[2022-04-17 08:15] jjhbw commented on #1409
Works with Electron 18.x for me!

[2022-04-17 08:23] daniellockyer commented on #1458
Would you be able to try with v5.0.3? 🙂

[2022-04-17 08:23] #1458 closed

[2022-04-17 08:24] daniellockyer commented on #1356
Would you be able to try with v5.0.3? 🙂

[2022-04-17 08:24] #1356 closed

[2022-04-17 08:24] daniellockyer commented on #1349
Would you be able to try with v5.0.3? 🙂

[2022-04-17 08:24] #1349 closed

[2022-04-17 10:13] wangfenjin commented on #1418
I think the issue might be we shouldn't include the extension like '.dll' or '.so' when load the extention

[2022-04-17 12:00] kberg commented on #1493
Thanks @daniellockyer!

[2022-04-17 15:05] #1578 closed

[2022-04-17 15:05] #1580 closed

[2022-04-17 15:06] daniellockyer commented on #1580
The fix for this should be out with 5.0.4 🙂

[2022-04-17 15:06] daniellockyer commented on #1578
The fix for this should be out with 5.0.4 🙂

[2022-04-17 15:08] daniellockyer commented on #1390
Would you be able to try with v5.0.3? Or provide a full reproduction case I can use? 🙂

[2022-04-17 15:08] #1390 closed

[2022-04-17 15:13] daniellockyer commented on #450
This is now exposed [here](https://github.com/TryGhost/node-sqlite3/blob/73da4108b9aceb447669e050d172e31ec229bbe1/src/node_sqlite3.cc#L27) and the wiki has been updated 🙂

[2022-04-17 15:13] #450 closed

[2022-04-17 15:18] daniellockyer commented on #1332
Hey @Aryesh-M, you should be able to use `.run` to execute the PRAGMA statements

[code]

[2022-04-17 15:18] #1332 closed

[2022-04-17 15:22] daniellockyer commented on #599
Hey! I'm definitely open to reviewing a PR for this 🙂

[2022-04-17 15:31] #642 closed

[2022-04-17 15:32] daniellockyer commented on #432
Closing as issue is stale 🙂

[2022-04-17 15:32] #432 closed

[2022-04-17 15:37] daniellockyer commented on #619
@Snack-X Would you be able to try with v5.0.3?

I tried to reproduce this but I cannot:

[code]

[2022-04-17 15:37] #619 closed

[2022-04-17 15:52] daniellockyer commented on #1100
Would you be able to try with v5.0.3? 🙂

[2022-04-17 15:52] #1100 closed

[2022-04-17 15:54] daniellockyer commented on #1456
Would you be able to try with v5.0.3? 🙂

[2022-04-17 15:54] #1456 closed

[2022-04-17 16:24] daniellockyer commented on #778
Would you be able to try v5.0.3? 🙂

[2022-04-17 16:24] #778 closed

[2022-04-17 16:25] daniellockyer commented on #1487
Would you be able to try with v5.0.3? 🙂

[2022-04-17 16:25] #1487 closed

[2022-04-17 16:25] daniellockyer commented on #481
Would you be able to try with v5.0.3? 🙂

[2022-04-17 16:25] #481 closed

[2022-04-17 19:14] daniellockyer commented on #1414
I think it's unlikely that we'll add this but we've enabled native math functions inv v5.0.3 so please give that a go 🙂

[2022-04-17 19:14] #1414 closed

[2022-04-17 19:19] daniellockyer commented on #1038
@niclasek Would you be able to try with the latest version? I can't reproduce this with your file 🙂

[2022-04-17 19:19] #1038 closed

[2022-04-17 19:19] #915 closed

[2022-04-17 19:25] daniellockyer commented on #949
Would you be able to try on the latest version v5.0.3? 🙂

[2022-04-17 19:25] #949 closed

[2022-04-17 19:27] #6 closed

[2022-04-17 19:31] #467 closed

[2022-04-17 19:31] daniellockyer commented on #467
Closing because issue is stale 🙂

[2022-04-17 19:33] daniellockyer commented on #547
This issue is pretty old but I suspect it's intended behaviour. The queries should be separated 🙂

[2022-04-17 19:33] #547 closed

[2022-04-17 23:02] ApocalypseCalculator commented on #1456
Still errors, in fact it is the exact same error. Also the same issue on my other arm server

[2022-04-17 23:59] THRYLLR commented on #1390
Thank you so much for getting back to me.

I unfortunately am unable to provide a full reproduction case; because in the 1 year and 182 days since I opened this issue, I gave up on this project, completely forgot about it, stopped using this library, closed my account on the service on which I was hosting my project, graduated schools, and learned four other programming languages.

Jokes aside, I'

[2022-04-18 05:29] daniellockyer commented on #1390
Haha no worries 🙂

[2022-04-18 08:44] daniellockyer commented on #1580
Released 🙂

[2022-04-18 08:44] daniellockyer commented on #1578
Released 🙂

[2022-04-18 08:48] daniellockyer commented on #611
Would you be able to try with the latest version - v5.0.4? 🙂

[2022-04-18 08:48] #611 closed

[2022-04-18 12:58] daniellockyer commented on #621
If this is still a problem, can you please try with v5.0.4? 🙂

[2022-04-18 12:58] #621 closed

[2022-04-18 13:01] daniellockyer commented on #666
Closing as issue is stale, but if it's still a problem, please try with v5.0.4 🙂

[2022-04-18 13:01] #666 closed

[2022-04-18 13:13] akshayjain-tmdc commented on #906
RESOLVED:
I had a yarn.locker file in my project. I deleted that file and rebuild the project and it worked for me.

[2022-04-18 15:17] stormsson commented on #1504
Thank you for the fix!

[2022-04-18 15:29] daniellockyer commented on #1023
I think this question is more suited for the sqlcipher team - please ask there 🙂

[2022-04-18 15:29] #1023 closed

[2022-04-18 20:35] daniellockyer commented on #599
Upon review, it seems we already support this via the open flags:

- https://www.sqlite.org/sharedcache.html#enabling_shared_cache_mode

[2022-04-18 20:35] #599 closed

[2022-04-19 01:40] hideishi-m commented on #1580
Hello, unfortunately another issue with prebuilt binary on CentOS 7.

[code]

[code]

[code]

[2022-04-19 03:34] hideishi-m opened #1582 "Prebuilt binary of version 5.0.4 still does not work on CentOS 7"
Hello, unfortunately another issue with prebuilt binary on CentOS 7.
Additionally, older libstdc++ compatiblity is required.

[code]

[code]

[code]

[2022-04-19 07:16] sireeshdevaraj commented on #1542
[code]
Just basic intro.

[2022-04-19 18:01] daniellockyer commented on #1582
Hey @hideishi-m, that's unfortunate 😕 It look like CentOS 7 ships with libstdc++ 6.0.19, which I believe comes from GCC 4.8.x and came out around 2014/2015.

I've been unable to find a way to compile the binaries with compatibility for this, so I'm stuck on how we could fix this. If you know of a way, I'd be glad to hear 🙂

In the mean time, you'll have to compile `node-sqlite3` from source, or up

[2022-04-19 19:37] wmertens commented on #1398
See also https://github.com/StratoKit/strato-db/blob/master/src/DB/SQLite.js which provides a Promise API for node-sqlite3

[2022-04-20 00:20] hideishi-m commented on #1582
Hello @daniellockyer.
I did a quick research and I think I found a way.
Instead of using ubuntu-latest runner for CI, could you try using ubuntu-18.04 runner?
It seems ubuntu-18.04 runner is shipped with libstdc++-6.0 which is compatible with CentOS 7's libstdc++ 6.0.19.

https://github.com/actions/virtual-environments/blob/main/images/linux/Ubuntu1804-Readme.md#installed-apt-packages

[2022-04-20 16:56] markmadlangbayan opened #1583 "4.2.0 support"
We'd like to use the latest version, but for now we are stuck with 4.2.0.  Recently we're not able to install 4.2.0 and it's complaining it's not available from the server.  I think it might have to do with the latest transition to the new maintainers.

Anyway I can get around this problem?

![image](https://user-images.githubusercontent.com/5464773/164283198-7d0c7107-e3ba-4c93-a915-ebc2e495baef.p

[2022-04-21 07:35] daniellockyer commented on #1583
Hey @markmadlangbayan 👋🏻 We've been focussed on stabilising the v5.x build as it's the latest major. Unfortunately, the binaries I have available for v4.2.0 don't include `node-v83-darwin-x64`, so I'm lead to believe they don't exist for that version. It's very unlikely we're going to go back and generate binaries for it given the CI requirements.

Out of curiosity, how come you're stuck on 4.2.0?

[2022-04-21 13:51] 2510 opened #1584 "version 5.0.4 cannot be built on FreeBSD"
On FreeBSD, version 5.0.4 cannot be built. Version 5.0.3 can be built successfully.

System Info:
[code]

Build log: (from `npm install`)
[code]

Following commit may be related:
https://github.com/TryGhost/node-sqlite3/commit/73da4108b9aceb447669e050d172e31ec229bbe1

[2022-04-21 15:22] daniellockyer commented on #1582
Hey @hideishi-m 🙂 I can't seem to get that to work. My CI run [here](https://github.com/TryGhost/node-sqlite3/runs/6112522654) was done on `ubuntu-18.04` and the `napi-v6-linux-glibc-x64` binary inside the artifact zip still shows the same error on CentOS 7 😕

[2022-04-21 15:41] daniellockyer commented on #1584
Hey @2510 🙂 Does the following work for you now? `npm install https://github.com/tryghost/node-sqlite3/tarball/master`

[2022-04-21 17:01] #1584 closed

[2022-04-21 23:19] 2510 commented on #1584
It worked! Thank you for quick response.

[2022-04-22 01:31] hideishi-m commented on #1582
Hello @daniellockyer,
I see ... in that case I have also no idea how you can fix this.
At least the existing prebuild binaries work on CentOS Stream 8 and AlmaLinux8. For CentOS 7, I will continue building my own binary via node-pre-gyp.

By the way, I also had to do some tweaks to build my own binary that node-pre-gyp sets `-std=gnu++14` where as old gcc tool chain on CentOS 7 doesn't support thi

[2022-04-22 02:49] mailtoamirjohn opened #1586 "Error: ENOENT: no such file or directory, rename 'build' -> 'build-tmp-napi-v3'"
[code]

[2022-04-22 05:37] daniellockyer commented on #1584
Excellent! A new release will be out soon 🙂

[2022-04-22 10:02] stefanJi opened #1588 "electron-forge make node-pre-gyp error"
[code]

[2022-04-22 12:37] daniellockyer commented on #1588
Hey @stefanJi 👋🏻 I can't seem to reproduce this. What version of `sqlite3` are you using? Are you able to give me a reproduction repo I can test this from? 🙂

[2022-04-25 09:06] rlindner81 opened #1589 "Inner join problems with versions 5.0.3+"
Our project's unit tests started failing for sqlite3 versions after 5.0.2.

After investigations, I made a script with the smallest reproducible query that delivers a wrong result:
[code]

Db and script file:
[sqlite-test.zip](https://github.com/TryGhost/node-sqlite3/files/8553093/sqlite-test.zip)

If you run this query with any other driver or sqlite3 up to 5.0.2., it will return 200 results, but

[2022-04-25 09:49] daniellockyer commented on #1589
I think this is a bug in SQLite. If I compile SQLite 3.34.0 (what 5.0.2 shipped with), I get all the rows. If I compile 3.38.0 (or even the latest prerelease), I get nothing. If I re-run the query, I get results.

[2022-04-25 10:23] daniellockyer commented on #1589
Reported here: https://www.sqlite.org/forum/forumpost/0d3200f4f3

[2022-04-25 10:39] rlindner81 commented on #1589
Hi @daniellockyer, thanks for taking a look so quickly! It can well be a problem in sqlite. I did test other drivers and it worked, but I suspect they emebed sqlite in the driver as well, so they might be on a version that still works.

[2022-04-26 02:27] mduclehcm commented on #1543
I got the same issue on electron 7.3.2

[2022-04-26 20:39] daniellockyer commented on #1549
I've had a quick look at it looks like we're losing context so `this` is not a Database here: https://github.com/TryGhost/node-sqlite3/blob/ff8568b3c64a5dce7f164a56eb20242527f9883a/lib/sqlite3.js#L18, which has issues further into the code.

A workaround would be to do:
[code]

[2022-04-27 02:19] mduclehcm commented on #1543
Browser window crashed with invalid bytecode error. (printed to main process std)
![image](https://user-images.githubusercontent.com/37727460/165425619-97b77421-bec2-476d-9156-4050fb5ff841.png)

[2022-04-27 08:21] draga79 opened #1592 "Cannot build on FreeBSD"
Hello,
trying to install on a FreeBSD jail. Last time I tried (some weeks ago) everything was working, now it fails:

[code]

Same with: `npm install https://github.com/tryghost/node-sqlite3/tarball/master`

OS is FreeBSD 13.0, arch is amd64.

Thank you.

[2022-04-27 08:24] louislam commented on #1582
For your reference, as previously node-sqlite3 (<= 5.0.2) did not provide arm built, users were hard to install Uptime Kuma, so I forked this project to support it.

In order to cover more systems, in my fork, I built `arm64` and `amd64` directly on CentOS 7 docker image.
https://github.com/louislam/node-sqlite3/blob/master/build.dockerfile

Although it was built on CentOS 7, the binary file is st

[2022-04-27 09:17] daniellockyer commented on #1592
Hey @draga79, we had the same thing reported in the last version but that was fixed in v5.0.5. Are you use you're using `master`/the latest version?

It was reported fixed here: https://github.com/TryGhost/node-sqlite3/issues/1584#issuecomment-1105848463

[2022-04-27 09:17] #1592 closed

[2022-04-27 09:18] daniellockyer commented on #1586
Hey @mailtoamirjohn, can you try with the latest version - v5.0.5? 🙂

[2022-04-27 12:25] daniellockyer commented on #1589
Hey @rlindner81 - good news! It's been [fixed](https://www.sqlite.org/forum/forumpost/9bea9683ad507188) and will be out in SQLite v3.38.3. I'll update `node-sqlite3` and publish when it's available 🙂

[2022-04-27 12:39] rlindner81 commented on #1589
Very nice, thanks for pushing this upstream.

[2022-04-27 14:40] #1589 closed

[2022-04-27 14:42] daniellockyer commented on #1589
Fix is in `master`, CI is working on the prebuilt binaries so v5.0.6 will be out shortly 🙂

[2022-04-27 14:54] TiE23 commented on #1413
I just want to share that I solved my issue by doubly making sure XCode was fully installed on my new-ish M1 MBP and letting the installation script build the binary as its back-up.

(So, if anyone is still running into this issue please be sure XCode is installed and you've opened it at least once to be sure things are in a good initial state for your ARM Macbook).

But before that happened I suf

[2022-04-27 15:05] TiE23 commented on #1413
Uhhhgggggg, yep. That says `x64`, not `arm64`. Gotta get my eyes checked.

My life as an ARM MacOS user continues to be a journey of embarrassments. Last month it was dealing with Docker fruitlessly trying to find arm64 images until I forced it to find x64 and run them through Rosetta.

Sorry about that.

[2022-04-27 15:10] daniellockyer commented on #1413
No worries 😁 I'm working on prebuilt binaries for arm64 darwin but it needs some CI machines 🙂

[2022-04-27 15:12] gpetrov commented on #1413
@daniellockyer - you should really compile also arm64 images for Darwin (Mac). It is possible to compile those on intel easy with cross compilation.

Check some of the other projects that does that already, like:  https://github.com/lovell/sharp-libvips/blob/main/.github/workflows/build-release.yml

How it is done: https://github.com/lovell/sharp-libvips/pull/74

[2022-04-27 15:21] daniellockyer commented on #1413
Very interesting 👀

[2022-04-27 20:52] daniellockyer commented on #1413
@gpetrov Good news - I think I've figured it out 🙂

[2022-04-28 13:48] Didoub74 opened #1596 "Error when fetching database"
I have a script
`db.each('SELECT * FROM level ORDER BY xp DESC LIMIT 10', async (err, row) => {
    top.push(row.userId);
);`
And a database:
[code]

When i call the database the result is

`[ 968081883739066400, 798232690569510900 ]`

I've tried with .toFixed(0) but it return that

`[ '968081883739066368', '798232690569510912' ]`

Can someone help me to get the good result wich is :
`[ '968081883

[2022-04-28 20:15] daniellockyer commented on #641
Closing as the issue is stale but welcome any memory issues in the future 🙂

[2022-04-28 20:15] #641 closed

[2022-04-28 20:18] daniellockyer commented on #1524
Closing as the issue is stale but please post a reproduction case and I can reopen it 🙂

[2022-04-28 20:18] #1524 closed

[2022-04-28 20:30] daniellockyer commented on #1039
Closing as the issue is stale but I'm not seeing this elsewhere so I presume it's a problem with your setup, unless you can provide a reproducible test case 🙂

[2022-04-28 20:30] #1039 closed

[2022-04-28 20:31] daniellockyer commented on #1043
There isn't, but you could write an extension and load it using this library 🙂

[2022-04-28 20:31] #1043 closed

[2022-04-28 20:36] #587 closed

[2022-04-28 20:43] #1123 closed

[2022-04-28 20:44] daniellockyer commented on #1123
Closing as the answer has been given 🙂

[2022-04-28 20:46] #560 closed

[2022-04-28 20:47] #279 closed

[2022-04-28 20:49] daniellockyer commented on #1298
This is definitely on my radar to do and I'm tracking this elsewhere so I'll close it for now 🙂

[2022-04-28 20:49] #1298 closed

[2022-04-29 07:12] #84 closed, assigned to nobody

[2022-04-29 07:12] #7 closed

[2022-04-29 07:18] daniellockyer commented on #268
We've since switched to GitHub Releases so this can be closed 🙂

[2022-04-29 07:18] #268 closed

[2022-04-29 07:19] daniellockyer commented on #1541
Sounds interesting but this project specifically targets SQLite right now. You might get somewhere with custom compiling and linking to Berkeley DB

[2022-04-29 07:19] #1541 closed

[2022-04-29 15:17] MasterOdin opened #1598 "Installation ignores NAPI version for given electron"
### Issue Summary

When upgrading from 4.2.0 to 5.0.6, I'm running into an issue where it's compiling the sqlite module to the wrong NAPI version. Currently, we set in our `.yarnrc` the following:
[code]
and that would install the module for the right ABI for the given electron. Now, it seems like it's just always using our environment's node version (16) to choose the NAPI version (6), which then

[2022-04-29 20:19] daniellockyer commented on #417
It's possibly a good idea but out of scope for this project and the issue is stale, so I'm going to close it 🙂

[2022-04-29 20:19] #417 closed

[2022-04-29 20:34] daniellockyer commented on #856
Closing as the issue is stale but please try with the latest version 🙂

[2022-04-29 20:34] #856 closed

[2022-04-29 20:45] daniellockyer commented on #1468
Hey @JefferyHus, I'm not sure I can reproduce this issue 🤔 I tried with the following:

[code]

and get:

[code]

As per the docs, the first parameter is the error (if there is one) and the second is the row.

Happy to re-open if you can provide a full reproduction 🙂

[2022-04-29 20:45] #1468 closed

[2022-04-29 21:12] daniellockyer commented on #945
I believe the answer above is correct so I'm going to close this 🙂

[2022-04-29 21:12] #945 closed

[2022-04-29 21:13] #1583 closed

[2022-04-30 06:43] daniellockyer commented on #1499
Would you be able to reopen the issue with a the new issue template? 🙂

[2022-04-30 06:43] #1499 closed

[2022-04-30 06:50] #1277 closed

[2022-04-30 06:51] #1146 closed

[2022-04-30 06:59] daniellockyer commented on #850
I believe this is a bug in node-pre-gyp: https://github.com/mapbox/node-pre-gyp/blob/7da93d8fd5c1924557884fb4273925d9411b1df4/lib/install.js#L229. Please report it there and I'd be happy to merge the update 🙂

[2022-04-30 06:59] #850 closed

[2022-04-30 07:01] #760 closed

[2022-04-30 07:03] #681 closed

[2022-04-30 09:21] Didoub74 commented on #1596
The problem is solved,
I've just changed the INT by a VARCHAR and it worked.

[2022-04-30 09:21] #1596 closed

[2022-05-01 23:18] MartinLoeper commented on #1121
Just stumbled across this. Is it true that `.run()` and `.get()` only execute the first sql command/query in the given string argument?

[2022-05-02 14:26] alexanderschndr commented on #900
1. Del yarn.lock
2. Del Moduels
3. remove esllint from ur devDependencies
4. run yarn again

After many many trys this works fine for me.

[2022-05-03 05:17] bkimminich commented on #1576
I've changed the `sqlite3` version from pinned `5.0.2` (which always worked and still works fine during Docker build - see https://github.com/juice-shop/juice-shop/runs/6268194166?check_suite_focus=true) to `~5.0.6` since the issue is supposedly fixed since `5.0.4`. Unfortunately then my Docker build crashes again, but for no obvious reason: https://github.com/juice-shop/juice-shop/runs/6263305356

[2022-05-03 12:32] #668 closed

[2022-05-03 12:33] daniellockyer commented on #783
Hey @papakai, if this is still an issue, would you be able to re-open the issue with an issue template? 🙂 https://github.com/TryGhost/node-sqlite3/issues/new/choose

[2022-05-03 12:33] #783 closed

[2022-05-03 12:39] daniellockyer commented on #318
Closing because this issue is stale 🙂

[2022-05-03 12:39] #318 closed

[2022-05-04 14:03] cshong87 opened #1603 "API functions to check autocommit status, enable and disable autocommit"
### Summary

[https://www.sqlite.org/c3ref/get_autocommit.html](https://www.sqlite.org/c3ref/get_autocommit.html)

As my programming exercise, and for learning purpose, I try to create an SQL client application that allow users to execute SQL queries.

By reading the documentation in above link, I understand that in SQLite, autocommit is enabled by default.

I also understand that I can disable au

[2022-05-05 14:06] Fedeorlandau commented on #1552
I had some issues with `node-sass` and this fixed it. (macos monterey)

Thank you mate

[2022-05-05 14:34] vit1251 opened #1605 "Cause an Segmentation fault (core dumped) on Node 5.0.7"
### Issue Summary

I execute `node example.js` and cause Segmentation fault with next stacktrace:

[code]

### Steps to Reproduce

SELECT * FROM table (with over 10_000 records)

### Version

5.0.7

### Node.js Version

v16.15.0

### How did you install the library?

npm i and npm i --source. ..

[2022-05-05 15:27] vit1251 opened #1606 "Nested each invocation raises an `Segmentation fault (core dumped)`"
### Issue Summary

Using nested iteration on large tables raise an Seffalt:

[code]
Any solution?

### Steps to Reproduce

1. Write nested queryes with each request
2. Execute code

### Version

5.0.7

### Node.js Version

16.15.0

### How did you install the library?

npm i

[2022-05-06 06:30] daniellockyer commented on #1606
I can reproduce this with the following:

[code]

On v5.0.6, I get the following output:

[code]

On v5.0.7, I get a segfault.

[2022-05-06 07:29] daniellockyer commented on #1605
Thanks for the report 🙂 I'm going to revert the commit that caused this until further investigation can be done: https://github.com/TryGhost/node-sqlite3/commit/5063367567fd1abe47bafc2095fb4f9090a260e3

[2022-05-06 21:51] Peipi98 commented on #1413
I have solved, and I could cry.
My problem was due to the name of one of the directories, which it contains a space.

For instance, my directory was named "Software Engineering", but renaming as "Software_Engineering" I can install sqlite3 perfectly. Jeez.

[2022-05-07 09:31] gpetrov commented on #1413
Yes I also noticed the space in the path problem and the failure due to not escaping. I think it is in one of the more global components node-gyp or the pre-build, can't recall

[2022-05-09 20:21] Steviey commented on #707
I don't code such stuff anymore. The whole stack is way to complicated and has way too much dependencies, without quality-control. It's a waste of time.

[2022-05-10 06:42] trydofor commented on #1588
maybe sqlite3 version auto upgrade, for `~5.0.2` => `5.0.8`.  fix the version to `5.0.2`, and following error resolved:
[code]

[2022-05-10 07:24] daniellockyer commented on #394
Closing as this issue is stale 🙂

[2022-05-10 07:24] #394 closed

[2022-05-10 07:36] daniellockyer commented on #962
Thanks all - I've added this note to the docs for `this.lastID` and `this.changes`: https://github.com/TryGhost/node-sqlite3/wiki/API#databaserunsql-param--callback

[2022-05-10 07:36] #962 closed

[2022-05-10 08:17] stefanJi commented on #1588
I didn't do anything and it was solved

[2022-05-10 08:17] #1588 closed

[2022-05-10 10:11] daniellockyer commented on #622
Thanks all - the docs have now been updated with the suggestions 🙂 https://github.com/TryGhost/node-sqlite3/wiki/API

[2022-05-10 10:11] #622 closed

[2022-05-10 21:18] oscaredel commented on #1552
For those using yarn in a (older) Rails app and a Python installation via pyenv, this finally solved it for me after hours of applying every possible suggested solution:

pyenv install 2.7.18

yarn config set python "/Users/$USER/.pyenv/shims/python2.7""
This will add that config to ~/.yarnrc

Also I made sure to undo as much of the previous given solutions in the other files like: ~/.zsh_profile

[2022-05-11 06:52] saifookhan commented on #906
It worked for me. But why/how?

[2022-05-11 10:09] daniellockyer commented on #1127
I'm now going to close this as the issue has gone stale but LMK if you still encounter issues 🙂

[2022-05-11 10:09] #1127 closed

[2022-05-11 10:16] daniellockyer commented on #1216
Hey @mulingLHY 🙂 I've updated the docs about this: https://github.com/TryGhost/node-sqlite3/wiki/API#runsql--param---callback

[2022-05-11 10:16] #1216 closed

[2022-05-14 13:36] Pdzly commented on #1226
I have still this issue? Ports are open database in online no fail2ban active no ddos protection nothing

[2022-05-15 01:03] yhojann-cl commented on #1226
No, i uninstalled wikijs and use another platform.

[2022-05-18 16:46] daniellockyer commented on #1532
^^ This looks correct to me - closing 🙂

[2022-05-18 16:46] #1532 closed

[2022-05-18 16:50] daniellockyer commented on #270
I'm going to close this as the issue has gone stale but happy to re-open if it's still an issue 🙂

[2022-05-18 16:50] #270 closed

[2022-05-18 16:51] daniellockyer commented on #855
Closing in favor of https://github.com/TryGhost/node-sqlite3/issues/1182

[2022-05-18 16:51] #855 closed

[2022-05-18 16:56] daniellockyer commented on #414
Closing as the issue is stale but LMK if it's still an problem by creating a new bug report with a template: https://github.com/TryGhost/node-sqlite3/issues/new/choose 🙂

[2022-05-18 16:56] #414 closed

[2022-05-18 16:59] daniellockyer commented on #810
Closing as the issue is stale but more than happy to add it if it's desired 🙂

[2022-05-18 16:59] #810 closed

[2022-05-18 17:00] daniellockyer commented on #988
Unfortunately I don't think it is, but happy to accept a PR if someone finds out how 🙂

[2022-05-18 17:00] #988 closed

[2022-05-18 17:02] daniellockyer commented on #3
Clsoing in favor of https://github.com/TryGhost/node-sqlite3/issues/304

[2022-05-18 17:02] #3 closed

[2022-05-18 17:04] daniellockyer commented on #881
Closing as the issue is stale but please re-open with an issue template and a repro case if it's still a problem 🙂

[2022-05-18 17:04] #881 closed

[2022-05-18 17:16] #306 closed, assigned to nobody

[2022-05-18 19:00] daniellockyer commented on #330
Thanks for the note - added to the docs

[2022-05-18 19:00] #330 closed

[2022-05-18 21:15] daniellockyer commented on #999
Closing as the issue is stale and I think everyone has solved their problem. Please open a new issue with a reproducible example if you're still encountering something 🙂

[2022-05-18 21:15] #999 closed

[2022-05-18 21:22] elliotf commented on #306
:+1: and thank you, @daniellockyer. It'd be nice to have, but likely not work the level of effort required (given that there is a workaround available.)

[2022-05-18 21:24] daniellockyer commented on #1276
Done: https://github.com/TryGhost/node-sqlite3/wiki/API#interrupt

[2022-05-18 21:24] #1276 closed

[2022-05-19 17:41] ben-w-smith opened #1609 "WSL2 - VSCODE - napi issue/question"
### Issue Summary

I ran into an issue that might be a knowledge gap on my end but wanted to provide some notes in case it helps someone else.

I'm on Windows 10 machine, running WSL2 with Ubuntu 20.04.

I installed sqlite3 via:
npm install sqlite3

I could execute scripts in the WSL2 terminal but kept receiving an error when attempting to "Run and Debug" in VSCode.

I would receive the following

[2022-05-20 11:15] alphmth commented on #1381
I am getting this while using node 14.9.2. Here is the stack trace

[code]

[2022-05-20 13:38] TeemuHokkane opened #1610 "`CXXABI_1.3.8' not found"
### Issue Summary

Operating system:
Red Hat Enterprise 4.8.5-44

I have been developing my application on windows 10/11 environments without issues.
Today I copied my project to my server hosted with cPanel and started setting it up for test deployment.
I ran npm install without issues (sqlite3 installed without issues)
Everything was looking good until I tried to start the application, then it c

[2022-05-20 19:26] #1610 closed

[2022-05-21 09:52] daniellockyer commented on #424
This would be nice but the issue has gone stale so I'm going to close for now - please reopen with an issue template if it's still something that is desired

[2022-05-21 09:52] #424 closed

[2022-05-21 09:58] daniellockyer commented on #980
@trevershick Is this still something that is desired? 🙂

[2022-05-21 10:59] daniellockyer commented on #1166
Would you be able to try with the latest version of the library? 🙂

[2022-05-21 10:59] #1166 closed

[2022-05-21 11:11] #1586 closed

[2022-05-21 11:12] daniellockyer commented on #801
Closing as the issue is stale but please re-open with an issue template if it's still desired 🙂

[2022-05-21 11:12] #801 closed

[2022-05-21 11:14] daniellockyer commented on #1399
Would you be able to try with the latest version? 🙂

[2022-05-21 11:14] #1399 closed

[2022-05-21 11:16] daniellockyer commented on #275
Fixed 🙂

[2022-05-21 11:16] #275 closed

[2022-05-21 11:17] daniellockyer commented on #1221
@u2892 Would you be able to provide a minimal reproduction and re-open with an issue template? 🙂

[2022-05-21 11:17] #1221 closed

[2022-05-21 11:18] daniellockyer commented on #1011
Happy to accept a PR for this 🙂

[2022-05-21 11:21] daniellockyer commented on #711
Closing as a duplicate of https://github.com/TryGhost/node-sqlite3/issues/419

[2022-05-21 11:21] #711 closed

[2022-05-21 11:23] daniellockyer commented on #419
There is an open PR to fix the implementation here: https://github.com/TryGhost/node-sqlite3/pull/1267

[2022-05-21 11:25] daniellockyer commented on #89
Closing as duplicate of https://github.com/TryGhost/node-sqlite3/issues/304

[2022-05-21 11:25] #89 closed

[2022-05-21 11:25] daniellockyer commented on #714
Closing as duplicate of https://github.com/TryGhost/node-sqlite3/issues/304

[2022-05-21 11:25] #714 closed

[2022-05-21 11:39] daniellockyer commented on #1419
This has been fixed, it does not get called multiple times 🙂

[2022-05-21 11:39] #1419 closed

[2022-05-21 22:07] BobbyWibowo commented on #1582
Hi there, back then `sharp` also had this issue with their pre-built binaries
I believe their solution was to use CentOS 7 docker container within the Ubuntu runner, https://github.com/lovell/sharp/issues/2119#issuecomment-597301435
^ However, the associated commit in that comment was back when they were still using Travis

A few months after that, they migrated to GitHub Actions (https://github.c

[2022-05-22 09:34] daniellockyer commented on #1205
Done: https://github.com/TryGhost/node-sqlite3/wiki/API#interrupt

[2022-05-22 09:34] #1205 closed

[2022-05-22 09:37] daniellockyer commented on #763
Done!

[2022-05-22 09:37] #763 closed

[2022-05-22 11:06] daniellockyer commented on #1181
Closing as the issue is stale but please re-open using an issue template if it's still an issue 🙂

[2022-05-22 11:06] #1181 closed

[2022-05-23 11:53] OxNinja opened #1611 "Asynchronous behaviour of query methods"
### Issue Summary

Same as #1408 but for the queries functions. Callbacks seems to be called asynchronously but the method itself returns before the callback.

[code]
[code]

I don't know if this is a bug, but it is not very handy to retrieve the result of a query.

### Steps to Reproduce

1. Run the script above

### Version

`3.38.4`

### Node.js Version

`16.15.0`

### How did you install the l

[2022-05-24 08:59] GitHubWuYi commented on #1400
how you fix ?

[2022-05-24 22:23] BobbyWibowo commented on #1609
It sounds like you're running the project with a Windows-installed Node binary, or at least your Vscode determined that it should do so

If the project is indeed properly supposed to run on a Linux/WSL environment, your Vscode should be using the Linux-installed Node binary, and thus cause sqlite3 to properly use Linux binding

---

![image](https://user-images.githubusercontent.com/9364930/170141

[2022-05-26 08:42] bojanbizjak opened #1612 "Can't reconcile two non-macho files node_modules/sqlite3/build-tmp-napi-v6/Makefile"
### Issue Summary

Error build MAC Universal with electron-builder 23.0.4 and 23.0.9  (with electron-builder 22.11.5 works without problems)

[code]

### Steps to Reproduce

electron-builder -m mas --universal -c electron-builder-mas.json --publish never

electron-builder-mas.json
[code]

### Version

"sqlite3": "^5.0.8", "electron": "19.0.1"

### Node.js Version

Node.js v16.15.0

### How did you

[2022-05-26 21:16] trevershick commented on #980
I think it's useful but no this is no longer something that's immediately desired.

[2022-05-26 21:16] #980 closed

[2022-06-01 19:11] vit1251 commented on #1011
May I place my five cents to your disscussion. I also want to have async/await each iterator and ask question about how to implement it on Node API and developers show me next example https://github.com/nodejs/node-addon-examples/blob/main/threadsafe-async-iterator/node-addon-api/example.cc

I think it may help some well good hero who get this work to do.

[2022-06-03 03:47] tmfksoft commented on #1573
Of the back of this,
I'm actually trying to do exactly this with the following project:
https://github.com/AmyrAhmady/samp-node

This runs version 16.13.0 of Node in 32-Bit.
The arch is a limitation of SA-MP which the plugin is for.

I've been able to compile sqlite3 for x86/ia32 but when trying to use it I run in the following:

[code]

[2022-06-03 17:51] marf commented on #1612
Same problem

[2022-06-08 17:12] bojanbizjak commented on #1612
I found a "temporary" solution. With "electron-builder": "22.11.5" works without problems
![Screenshot 2022-06-08 at 19 11 31](https://user-images.githubusercontent.com/12731463/172676835-7b8b47f5-8dca-44d1-913b-ea9ac7c7f2a8.png)
.

[2022-06-08 19:57] cjbland commented on #1582
I'm having a similar issue trying to build sqlite3 from source on a CentOS 7 using node v16. The specific error I'm getting is:

Running the same command using node v14 build successfully. I inspected the generated files and it is using `-std=gnu++1y' instead. Does anyone have any idea why v14 works but v16 does not?

[2022-06-08 21:44] HirenPatel2791 commented on #1610
I am seeing the same error on jenkins with version 5.0.8, any solution?

[2022-06-09 03:30] TeemuHokkane commented on #1610
For me solution was using 5.0.2

[2022-06-16 02:31] ljcucc commented on #1609
I have same / similar issue when I tried to import package on code sandbox's environment (iOS) ( which having weird arch info )
[code]

version: `"sqlite3": "^5.0.8"`

Isn't v5+ already supported Node-API ?

[2022-06-16 18:04] ormanlis opened #1616 "Binaries: Access denied"
### Issue Summary

node-pre-gyp http GET https://mapbox-node-binary.s3.amazonaws.com/sqlite3/v5.0.2/napi-v3-darwin-arm64.tar.gz
node-pre-gyp http 403 https://mapbox-node-binary.s3.amazonaws.com/sqlite3/v5.0.2/napi-v3-darwin-arm64.tar.gz
node-pre-gyp WARN Tried to download(403): https://mapbox-node-binary.s3.amazonaws.com/sqlite3/v5.0.2/napi-v3-darwin-arm64.tar.gz
node-pre-gyp WARN Pre-built binari

[2022-06-17 08:56] bpasero opened #1617 "`db.close()` never finishes on a DB with invalid path"
### Issue Summary

When calling `db.close` I would always expect the callback to be called.

### Steps to Reproduce

[code]

Run this and notice how it never succeeds closing the DB.

### Version

5.0.8

### Node.js Version

16.15.1

### How did you install the library?

macOS ARM

[2022-06-17 19:02] daniellockyer commented on #1616
Hey @ormanlis - there are no distributed binaries for ARM64 in v5.0.2, nor the latest at the time of writing. If you update to the latest version, you should be able to compile the library and use that

[2022-06-17 19:02] #1616 closed

[2022-06-18 16:15] FxPixels commented on #1515
@daniellockyer I use version 5.0.3 but it still not work...

` u0_a310@localhost  ~/project/HJG-platform-system   master ±  npm install sqlite3@5.0.3 -g
[##################] - reify:sqlite3: http fetch GET 200 https://cdn.npmmirror.com/packages/sqlite3/5.0.3/sqlite3-5.0.3.tgz 1821ms (cache miss)

node-pre-gyp info it worked if it ends with okch GET 200 https://cdn.npmmirror.com/packages/sqlite

[2022-06-18 16:17] FxPixels commented on #1534
@Moonquit how to do plz

[2022-06-18 19:08] Moonquit commented on #1534
@FxPixels I just used [yarn](https://yarnpkg.com/) instead of `npm` (`yarn install`) and everything was fine

[2022-06-20 12:14] saroj990 opened #1618 "SQLite3 shows unsupported Architecture."
### Issue Summary:
Unable to build SQLite3 on intel Mac OSx.

I am trying build an electron app with SQLite3 as dependency, but each time I do `yarn`, it ends up with a fail with unsupported architecture error. Tried it with different versions of `Node` and `SQLite3`,  but it didn't work either.

Here is the pacakge.json file
[code]

### Relevant logs or output

[code]

### Version

5.0.2

### Nod

[2022-06-20 16:53] RodrigoBJJ94 opened #1619 "Is it possible to open with this library a sqlite database that has a password? ( I have the password)"
### Summary

const sqlite3 = require('sqlite3');
const sqlite = require('sqlite');async function main() {
  try {
    const db = await sqlite.open({ filename: './LocalData.db', driver: sqlite3.Database });
    const rows = await db.all('SELECT * FROM ProductionData');
    console.log(rows);
    await db.close();
  } catch (error) {
    console.log(error);
  }
}
main();

### Proposed implementation

[2022-06-21 19:09] rayfoss commented on #1495
It looks like he's running under a JS only environment like WebWorkers or CloudFlare Workers, or a non x686 processor. SQLite uses node-gyp...

[2022-06-21 22:13] mjovanc commented on #1618
I'm experiencing the same issue I have tried both with Node 14 and 18. I tried specifying:

`npm install sqlite3 --build-from-source --target_arch=arm64 --fallback-to-build`

But however it does not work. Using sqlite3 version 5.0.8

[2022-06-22 07:17] #1618 closed

[2022-06-22 07:18] saroj990 commented on #1618
@mjovanc have you tried `npm install sqlite3 --build-from-source` command ?

[2022-06-22 07:23] mjovanc commented on #1618
@saroj990 Yes, still the same issue unfortunately.

[2022-06-24 04:22] michelgokan commented on #1618
@saroj990 I have the exact same problem on an M1 Pro machine after running `npm install sqlite3@5.0.8`:

`npm ERR! node-pre-gyp ERR! install response status 404 Not Found on https://github.com/TryGhost/node-sqlite3/releases/download/v5.0.8/napi-v6-darwin-unknown-arm64.tar.gz`

[2022-06-24 04:41] michelgokan commented on #1618
When trying to build from the source:

`Release/obj/gen/sqlite-autoconf-3380400/sqlite3.c:341:10: fatal error: cannot open file '/usr/local/include/stdarg.h': Permission denied`

[2022-06-24 04:50] michelgokan commented on #1618
Okay using x64 version fixed the problem for now:

`npm install sqlite3 --target_arch=x64`

[2022-06-24 18:42] springmeyer opened #1620 "Test failure in test/async_calls.test.js with Mac intel binary"
### Issue Summary

I noticed that some tests fail with the default Mac binary on my system that do NOT fail with a source compile. The test in question I notice was added by @alexanderfloh in https://github.com/TryGhost/node-sqlite3/pull/1511. I don't have the time right now to debug deeply, but figured it would still be useful to report this.

The test failure is:

[code]

### Steps to Reproduce

[2022-06-24 18:58] alex3d commented on #1395
You could try this for (not too) short reproduction:
[code]

[code]

As you could see when there are more than 4 concurrent queries (default libuv thread pool size) queue latency spikes up.
It is now shown by this repro but with 2-3 concurrent queries some thread pool threads are still uselessly blocked by node-sqlite3.

[2022-06-25 06:59] michelgokan commented on #1618
@saroj990 I believe this should be re-opened

[2022-06-25 07:29] michelgokan opened #1621 "Error when installing on Apple M1 machine (building from source)"
### Issue Summary

Looks like npm looks for a wrong location when looking for `stdarg.h` (I believe on a Mac its under Xcode package). The main error is:

`fatal error: cannot open file '/usr/local/include/stdarg.h': Permission denied`

### Relevant logs or output

Full log:

[code]

### Version

5.0.8

### Node.js Version

18.4.0

### How did you install the library?

npm install sqlite3 --build-

[2022-06-28 03:44] qiuzhanghua commented on #1538
node-sqlite3@5.0.8 success!

https://qiuzhanghua.github.io/posts/2022/0628-01-sqlite3-nodejs-m1/

[2022-06-28 07:34] jonguenther commented on #1538
`node-sqlite3@5.0.8` works now with node v16 (tested with `v16.14.2`) 🥳

P.S.: I did not need to do any additional changes suggested by @qiuzhanghua except for installing `sqlite` using [brew](https://formulae.brew.sh/formula/sqlite)

[2022-06-28 09:25] sjfkai commented on #1612
Have a try to ignore files  under `build-tmp-napi-v3` in package.json
[code]

[2022-07-07 10:57] shinyeasy opened #1622 "Transaction in workthread will raise exception"
### Issue Summary

[code]

### Steps to Reproduce

1. Open a database use sqlite3 in workthread
2. Begin a transaction with db.run('begin;')
3. do some insert or update operation
4. db.run('commit;')
In my case, I create a sqlite3 instance in main thread also.But the instance in main thread open another db.
And the main thread sqlite3 instance also have a timeinterval transaction running.
If the w

[2022-07-07 10:58] LxnChan commented on #1421
Same issue.

[2022-07-09 05:06] FreeTrade commented on #922
While no solution is ideal here given that JS doesn't handle 64bit numbers easily, silently truncating the numbers is probably the least desirable way to handle this as it has the possibility of unexpected data loss. Instructively, this is not the solution used by other libraries facing similar issues.

I'd suggest the suggested solutions are desirable as the default in the following order.

Conve

[2022-07-11 02:49] ColonelDarcy2018 opened #1623 "Unable to install on arch mips64"
### Issue Summary

Unable to  install on arch mips64:
[code]

### Relevant logs or output

[code]

-------------------------------

It's looks like napi-v6-linux-glibc-mips64el.tar.gz doesn't exists,so I also tried:

[code]

### Version

5.0.8

### Node.js Version

14.19.1

### How did you install the library?

UnionTech OS GNU/Linux 20  mips64el

[2022-07-11 03:20] joebnb opened #1624 "db.exec error when create in class"
### Issue Summary

use Class constructor to init a db,may got a error

### Steps to Reproduce

[code]

[code]

### Version

latest

### Node.js Version

latest

### How did you install the library?

via npm

[2022-07-12 08:11] Flarna commented on #1620
I think the failing test was added on main after the last release (5.0.8 as of writing).

Are you using tests from tip of master together was a release here where the corresponding fix is not yet included?

[2022-07-12 18:07] springmeyer commented on #1620
@Flarna excellent, thanks for noticing that subtlety. That explains it! Closing then, as it seems like a pretty safe bet that binaries created from master (and distributed to others) are going to work with tests from master.

[2022-07-12 18:07] #1620 closed

[2022-07-13 02:07] FreeTrade commented on #922
This seems to work better - https://github.com/juanrgm/node-sqlite3/tree/int64-support

[2022-07-14 16:56] michelgokan commented on #1621
@daniellockyer Mac OS X version 12.4.

Xcode latest version 13.4.1

[2022-07-14 18:01] michelgokan commented on #1621
Here is the complete log:
[code]

[2022-07-20 21:01] tianon opened #1625 "Install of 5.0.9 fails to run on Alpine ("_ZSt28__throw_bad_array_new_lengthv: symbol not found")"
### Issue Summary

When installing on Alpine, the module installs correctly but then fails at runtime.

### Relevant logs or output

[code]

### Version

5.0.9

### Node.js Version

16.16.0

### How did you install the library?

npm install sqlite3, yarn add sqlite3; Linux, x86_64, Alpine 3.15 (specifically, failing to update https://github.com/docker-library/ghost to Ghost 5.4.1; https://github.c

[2022-07-20 21:05] tianon commented on #1625
Interestingly, this appears to work successfully on Alpine 3.16, so I suppose this is perhaps a problem of Node's pre-built modules support not being specific enough about musl version or something like that?

[2022-07-20 21:13] tianon commented on #1625
Can confirm -- updating to Alpine 3.16 fixed the issue for my specific need, so I'm 100% OK with this being closed, but I'll let maintainers here make the determination of whether this is still useful to chase further for use cases outside mine. :smile: :heart:

[2022-07-22 07:00] daniellockyer commented on #1625
I wonder if it would resolve if I targetted a specific Alpine version in our binary building script 🤔 I'll give it a go next week and if it works, I'll release a new version to restore compatibility.

[2022-07-23 14:05] WebKieth commented on #1384
lol they just close it. It can't work? Pffff We dont giveafuck))))

[2022-07-24 20:27] #1625 closed

[2022-07-24 20:28] daniellockyer commented on #1625
The issue should be fixed in `master` - I'll do a release this week 🙂

[2022-07-25 05:03] Lip-ee commented on #1211
did you find a way to fix that, bro? I'm here with the same issue..

[2022-07-25 19:03] garyking opened #1627 "`Error: Cannot find module` when Node script is run through Ruby"
### Issue Summary

I have a Node script that uses `sqlite3`, and it works fine.

But when I try to run the Node script through a Ruby script, like so:

[code]

(the backticks are Ruby code, which runs the command and returns the output), I get the following error from Node:

[code]

Presumably the error occurs because it should be looking for `napi-v6-darwin-unknown-arm64` rather than `napi-v6-dar

[2022-07-26 18:47] garyking commented on #1627
I managed to fix the issue by changing this:

[code]

To this:

[code]

[2022-07-26 18:47] #1627 closed

[2022-07-27 09:04] stefnotch commented on #1211
@Lip-ee If you've got the same issue, would it be possible for you to put a reasonably minimal project that reproduces this issue online?

[2022-07-29 07:05] heikkipora commented on #1582
I can confirm that the suggestion above by @davidrapin works nicely (CentOS 7.9.2009, node-sqlite3 v5.0.10)

- installed `gcc10-libstdc++` (available at least in Ghettoforge: https://mirror.ghettoforge.org/distributions/gf/el/7/gf/x86_64/)
- set `LD_LIBRARY_PATH=$PATH:/opt/gcc-10.2.1/usr/lib64` for my node app

Thanks for the tip!

[2022-07-29 07:07] heikkipora commented on #1610
@TeemuHokkane see https://github.com/TryGhost/node-sqlite3/issues/1582

[2022-07-31 07:54] daniellockyer commented on #1249
^^ this was done.

I'm going to be dropping Node 12 now it's also out of LTS, but I'm collecting together an issue elsewhere to work on changes for the next major bump

[2022-07-31 07:54] #1249 closed

[2022-07-31 07:56] daniellockyer commented on #1073
As far as I can tell, this would be a breaking change?

Happy to do it one day but just want to check 🙂

[2022-07-31 09:56] daniellockyer commented on #1623
@ColonelDarcy2018 Would you be able to install Python 3 and try again?

[2022-07-31 09:57] daniellockyer commented on #1394
@alex3d I'd love to see a PR 🙂

[2022-07-31 10:16] daniellockyer commented on #1625
Released in v5.0.11 🙂

[2022-07-31 20:10] daniellockyer commented on #809
I've merged a PR to add this: https://github.com/TryGhost/node-sqlite3/commit/ffda15f49dcbc4da6dc8025af864098330479a5c

I'll be updating the types before releasing soon 🙂

[2022-07-31 20:10] #809 closed

[2022-08-01 08:22] bpasero commented on #1073
How so?

[2022-08-01 16:55] tianon commented on #1625
Confirmed working in both Alpine 3.15 and 3.16!  Thanks! :smile:

[2022-08-02 00:36] evantahler commented on #1538
For me, `npm config set python python3` was the solution

[2022-08-02 22:47] christopher-caldwell commented on #1538
I get a syntax error when doing this:

[code]

[2022-08-02 22:55] christopher-caldwell commented on #1552
@olso-nordsec

Did you ever find a solution to the syntax error? Having the same issue

[2022-08-03 15:50] Pomax commented on #1552
@christopher-caldwell the solution kind of really is "use the current versions of python and node, and first explicitly install the latest version of `node-gyp` in your project dir if you get errors".

(The oldest still supported versions of python and node here are 3.7, and 14, respectively)

[2022-08-03 20:30] clifton311 opened #1629 "Can not install sqlite3 on my Mac using Node v14.19.0"
### Issue Summary

I am getting errors installing `sqlite3` on my Mac. I have been using `npm install sqlite3` and I am getting the error message below. I alternatively tried installing sqlite3@ 5.0.0 because I read elsewhere that installing the 5.0.0 version worked for others. However, I am still getting the same error.

### Relevant logs or output

node-pre-gyp WARN Using request for node-pre-gy

[2022-08-04 06:19] daniellockyer commented on #1629
Hey @clifton311, do you have Python 3 installed?

[2022-08-04 14:06] clifton311 commented on #1629
@daniellockyer Yes, I just checked and I have version Python 3.8.9 installed.

[2022-08-04 14:23] daniellockyer commented on #1629
` env: python: No such file or directory` indicates there's something wrong with your local env 🤔

[2022-08-04 15:10] chee commented on #1629
`python3` might not have a symlink at`python`. if you're using MacPorts you can set python3 to be your default `python` with `sudo port select --set python python310`.

otherwise you could symlink `python3` to `python` somewhere in your `PATH` and see what happes

[2022-08-04 18:02] clifton311 commented on #1629
is python required to install sqlite3?

[2022-08-05 05:42] daniellockyer commented on #1629
It's not a direct dependency of this project, but it's used by node-gyp

[2022-08-06 01:20] Lip-ee commented on #1211
yeah, I've got the same problem, but now I forgot how I solved this lol. If I'm not wrong, was something about the path to my database.db file.

[2022-08-06 07:47] daniellockyer commented on #1629
That being said, the prebuilt binaries for the latest versions exist for `napi-v6-darwin-unknown-x64`, so I'm surprised that's not working for you

[2022-08-06 08:51] daniellockyer commented on #1412
Right now, it's a simple memory-based cache of the Database object so it doesn't need to be open + closed across instances: https://github.com/TryGhost/node-sqlite3/blob/e0542d5e7a33d0920d6ea6d08ea0de7b4d2050c5/lib/sqlite3.js#L29-L56

[2022-08-06 08:51] #1412 closed

[2022-08-09 08:51] estebanabaroa opened #1630 "Sqlite3 new Database() stalls in karma-electron with nodeIntegration true contextIsolation false"
### Issue Summary

I am trying to do this in a karma-electron test:
[code]

It works in both node and electron, but not karma-electron.

It also doesn't output any logs anywhere I could see so I'm not sure how to debug it.

I asked on the karma-electron repo but they didn't know https://github.com/twolfson/karma-electron/issues/57

### Steps to Reproduce

I have created a sample repo to demonstrat

[2022-08-09 20:41] slamdev commented on #1616
@daniellockyer any particular reason to skip releasing Darwin ARM64 binaries? can we (community) help\contribute somehow?

[2022-08-09 20:51] daniellockyer commented on #1616
@slamdev No reason! I'd very much love to add them

I've got a branch here, but the binaries get the quarantine zatte flag when I download them - which clearly isn't ideal for end users

https://github.com/TryGhost/node-sqlite3/pull/1594

[2022-08-10 05:45] daniellockyer commented on #1616
I'm going to open an issue detailing the problem 🙂

[2022-08-15 09:08] hanseartic commented on #1582
It's possible to build from source in node `v16.16.0` on centOS 7 without changing any references.
[code]

[2022-08-16 01:04] dev-intellisoft commented on #1421
same issue

[2022-08-18 00:44] maxpert commented on #419
Merge it please 😢  I desperately need it!

[2022-08-19 10:53] thebinarysearchtree opened #1631 "Automatically parse JSON"
### Summary

Is it possible for the driver to automatically parse the JSON returned by the JSON functions instead of just returning a string of JSON? As in, is the return type of these functions known to the driver? Also, are the user-defined column types available to the driver at the time it is parsing the query result? If so, can a new method be added to register a custom parser for a given dat

[2022-08-19 11:27] #1631 closed

[2022-08-20 15:39] zeallat commented on #1538
@visoft This looks seamless solution to me. Huge thanks!

[2022-08-23 12:47] RMcDOttawa commented on #1538
This fixed it for me.  Not just a space in the containing directory - but no spaces anywhere in the complete path leading to the directory.  Removing this spaces, everything worked.  Thanks!

[2022-08-31 18:40] ryanflowers commented on #1552
@daniellockyer I see this same error on 5.0.3. Doesnt seem fixed. Am I missing something?

[code]

[2022-09-04 11:46] RajatDhupar commented on #1629
i am getting this error too with knex.. any solutions?

[2022-09-05 19:18] daniellockyer commented on #1623
Closing as I believe the issue stems from a lack of Python 3 on the system 🙂

[2022-09-05 19:18] #1623 closed

[2022-09-05 19:22] daniellockyer commented on #1629
Closing this issue as I believe https://github.com/TryGhost/node-sqlite3/issues/1629#issuecomment-1205390514 solves the problem here 🙂

[2022-09-05 19:22] #1629 closed

[2022-09-06 23:59] eireausman commented on #1538
Thanks for this!  Issue solved for me.

[2022-09-07 12:19] Vladlen45 commented on #1622
Hope it help

const async = require("async")

function executeArray(sqlArray, db) {
  return new Promise((resolve, reject) => {
    db.serialize(() => {
      db.run("BEGIN", (err) => {
        if (err) return

        let run = (sql, callback) => db.run(sql, callback)
        async.eachSeries(sqlArray, run, (err) => {
          if (err) {
            db.run("ROLLBACK")
            return reject(e

[2022-09-07 12:21] remy commented on #1622
I'm using sequelize.js to wrap sqlite3 - which I'm guessing uses workthreads under the hood, so I'm seeing this all the time. Making dev pretty tricky when it makes a full crash exit.

[2022-09-07 21:01] gjsjohnmurray commented on #1413
I think the cause of the build failure when the directory path contains spaces is https://github.com/nodejs/node-gyp/issues/65 (over 10 years old!).

[2022-09-08 21:33] daniellockyer commented on #930
Whilst I'd agree it'd make the library a little better to use, it's unlikely something we're going to do soon so I'm going to close this for now 🙂

[2022-09-08 21:33] #930 closed

[2022-09-08 21:33] daniellockyer commented on #1182
I welcome PRs for this 🙂

[2022-09-08 21:35] daniellockyer commented on #526
I'm going to close this for now but please feel free to open a new issue if there's a request or bug here 🙂

[2022-09-08 21:35] #526 closed

[2022-09-08 21:37] daniellockyer commented on #1372
I believe this should be fixed with https://github.com/TryGhost/node-sqlite3/commit/c366ef9fdca05bc6ea899207da6e62a146f8012d

[2022-09-08 21:37] #1372 closed

[2022-09-08 21:38] daniellockyer commented on #1153
I'm going to close this for now but if there's still an issue here, please let me know or open an issue with the new templates 🙂

[2022-09-08 21:38] #1153 closed

[2022-09-08 21:43] daniellockyer commented on #336
Would you be able to try with the latest version of this library? A lot of build issues have been fixed since and it's difficult to compare versions 6 years apart 😀

If there's still a problem, please open an issue with the new templates

[2022-09-08 21:43] #336 closed

[2022-09-08 21:47] daniellockyer commented on #1474
The differences are explained here: https://www.sqlite.org/c3ref/profile.html 🙂

[2022-09-08 21:47] #1474 closed

[2022-09-08 21:53] daniellockyer commented on #941
I think this is _extremely_ unlikely to ever happen - it's such a big breaking change that the switchover would be rough and I think everyone who uses SQLite knows of its quirks 🙂 I'm going to close this for now

[2022-09-08 21:53] #941 closed

[2022-09-08 21:55] daniellockyer commented on #725
I'm going to close this but now but it's possible it's still a problem. That said, I'm pretty sure we've accidentally included 2 sqlite3 versions in Ghost and nothing blew up 🤷🏻

[2022-09-08 21:55] #725 closed

[2022-09-08 21:57] daniellockyer commented on #1253
Huh - odd! I just ran into the same whilst working on https://github.com/TryGhost/node-sqlite3/pull/1267

[2022-09-08 23:35] vsviridov commented on #1474
Do you plan to support the `trace_v2` call?

[2022-09-11 16:20] duendeee opened #1634 "Cannot install sqlite3 in electron project - linux ubuntu 22"
### Issue Summary

I can't install sqlite3 in an electron project. Apparently it's not a problem with python or NAPI version, after searching a lot I didn't find any problem like this.

The issue seems to happen at this moment:

ACTION deps_sqlite3_gyp_action_before_build_target_unpack_sqlite_dep Release/obj/gen/sqlite-autoconf-3390200/sqlite3.c
/bin/sh: 1: Syntax error: "(" unexpected

### Releva

[2022-09-12 08:33] daniellockyer commented on #1634
I think this is an issue with node-gyp and a folder in your path name: `my-new-app(1)`

Would you be able to try without the brackets?

[2022-09-12 17:28] duendeee commented on #1634
the problem really was the path name with ( )
thanks @daniellockyer

[2022-09-12 17:28] #1634 closed

[2022-09-13 08:55] jose-nunez commented on #1556
I had problems with `v5.0.2`
`v5.0.3` worked for me on Mac M1 - Node v16

[2022-09-13 12:38] ouliuquan opened #1635 "node-gyp error with building @vscode/sqlite3: binding.gyp not found"
### Issue Summary

I remove all the node_gyp folder, and re-install nodejs, try anything command, the problem still, is it any way to find out what's wrong with my env?My [repo](https://github.com/ouliuquan/testsqlite3) have push to GitHub.

Also I have create an issue in node-gyp, but for now we still can't find out the problem. So I am here ask for your help. #https://github.com/nodejs/node-gyp/

[2022-09-13 17:44] daniellockyer commented on #1635
Hey @ouliuquan 👋🏻 This repo is for `sqlite3`, not `@vscode/sqlite3`, which was a fork of this repo but they've since recommended to use this original version instead. Would you be able to try with the latest `sqlite3`?

[2022-09-13 17:54] ouliuquan commented on #1635
@daniellockyer Hi Daniel, I was building VSCode source got stuck by this question, @vscode/sqlite3 is using by VSCode's package.json, I follow the [https://www.npmjs.com/package/@vscode/sqlite3](https://www.npmjs.com/package/@vscode/sqlite3) to find here.
I create this issue to solve the VSCode building problem, hope to find some help here.

[2022-09-13 18:13] daniellockyer commented on #1635
The VSCode fork comes here because it's a fork of this repo and the URL has not been updated.

This repo should build and run on most common systems 🙂

[2022-09-13 21:37] #419 closed

[2022-09-13 21:42] daniellockyer commented on #419
The PR is merged and will be released shortly 🙂

[2022-09-14 04:49] SrStick opened #1636 "Version with promisses"
### Summary

I think it would be interesting if there was a version of the database.run(), get() and all() methods that uses Promise instead of callback.
I can send a pull request with these changes, what do you think?

### Proposed implementation

the database.run(), get(), and all() methods should be implemented using Promisses

[2022-09-14 04:55] maxpert commented on #419
🥳

[2022-09-14 06:45] daniellockyer commented on #1636
Hey @SrStick 👋🏻 I would love to see a PR for this 🙂

[2022-09-14 09:19] daniellockyer commented on #1621
Unfortunately it's still not clear to me what the issue is 😕

[2022-09-15 14:33] daniellockyer commented on #1621
I know it's not a real solution but v5.1.1 now comes with ARM64 binaries, so you shouldn't need to build any longer: https://github.com/TryGhost/node-sqlite3/releases/tag/v5.1.1

[2022-09-15 14:34] daniellockyer commented on #1556
FYI v5.1.1 now comes with prebuilt Darwin ARM64 binaries 🙂 https://github.com/TryGhost/node-sqlite3/releases/tag/v5.1.1

[2022-09-15 14:35] daniellockyer commented on #1413
FYI v5.1.1 now comes with prebuilt Darwin ARM64 binaries 🙂 https://github.com/TryGhost/node-sqlite3/releases/tag/v5.1.1

[2022-09-15 14:35] daniellockyer commented on #1538
FYI v5.1.1 now comes with prebuilt Darwin ARM64 binaries 🙂 https://github.com/TryGhost/node-sqlite3/releases/tag/v5.1.1

[2022-09-15 14:35] daniellockyer commented on #1552
FYI v5.1.1 now comes with prebuilt Darwin ARM64 binaries 🙂 https://github.com/TryGhost/node-sqlite3/releases/tag/v5.1.1

[2022-09-15 17:17] daniellockyer commented on #1611
Hey @OxNinja 👋🏻 This behavious seems expected to me? And of any asynchronous library. If you need to wait for the result before continuing, you need to use Promises 🙂

[2022-09-15 17:17] #1611 closed

[2022-09-15 21:49] #718 closed

[2022-09-15 21:49] daniellockyer commented on #645
Closing for now but would accept a PR 🙂

[2022-09-15 21:49] #645 closed

[2022-09-15 21:51] daniellockyer commented on #1603
I'm going to close this for now as the request seems very niche. However, if there's more demand, and a PR, I will merge it 🙂

[2022-09-15 21:51] #1603 closed

[2022-09-15 21:51] daniellockyer commented on #774
Whilst it would be nice, this issue is now 5 years old so I'm going to close it for now 🙂

[2022-09-15 21:51] #774 closed

[2022-09-15 21:53] daniellockyer commented on #737
Closing for now as this issue is 6 years old and the demand isn't there right now 🙂

[2022-09-15 21:53] #737 closed

[2022-09-15 21:53] daniellockyer commented on #1363
Please try with the latest version and get back to me if you still have issues 🙂

[2022-09-15 21:53] #1363 closed

[2022-09-15 21:55] daniellockyer commented on #934
I am working on synchronous functions for this library, but this issue is 4 years old so I'm closing it for now 🙂

[2022-09-15 21:55] #934 closed

[2022-09-15 21:58] daniellockyer commented on #1398
Closing in favor of https://github.com/TryGhost/node-sqlite3/issues/834

[2022-09-15 21:58] #1398 closed

[2022-09-15 21:59] daniellockyer commented on #834
FWIW I'd happily love to see a PR for this - Promises FTW!

[2022-09-16 07:53] daniellockyer commented on #1609
This appears to be a configuration issue with VSCode - please ensure the environment you're running sqlite3 under is the one you expect 🙂

[2022-09-16 07:53] #1609 closed

[2022-09-16 07:55] daniellockyer commented on #773
Closing in favor of https://github.com/TryGhost/node-sqlite3/issues/304

[2022-09-16 07:55] #773 closed

[2022-09-16 07:56] daniellockyer commented on #907
Closing in favor of https://github.com/TryGhost/node-sqlite3/issues/304 re: transactions

[2022-09-16 07:56] #907 closed

[2022-09-16 08:04] #1220 closed

[2022-09-16 08:04] daniellockyer commented on #1220
I believe https://github.com/TryGhost/node-sqlite3/issues/1220#issuecomment-535628775 is the best solution for now 🙂

[2022-09-16 08:05] daniellockyer commented on #574
I welcome a PR for this but the issue has been open for 7 years so I'm closing it until there's sufficient demand 🙂

[2022-09-16 08:05] #574 closed

[2022-09-16 08:35] #912 closed

[2022-09-16 09:11] daniellockyer commented on #303
Hey @BenLin1 👋🏻 It's not currently possible and it's unlikely we'll add support for this right now. If there's further demand on this issue, maybe it's something to re-assess in the future 🙂

[2022-09-16 09:11] #303 closed

[2022-09-16 09:15] daniellockyer commented on #578
This seems to work for me as of the current version so I'm going to close this

[code]

Output:
[code]

[2022-09-16 09:15] #578 closed

[2022-09-16 09:25] daniellockyer commented on #570
This is now documented in the Wiki 🙂

[2022-09-16 09:25] #570 closed

[2022-09-16 09:28] daniellockyer commented on #1624
This library is asynchronous, so you need to use `.serialize` or use the callback within `exec`.

Closing as this is expected behaviour 🙂

[2022-09-16 09:28] #1624 closed

[2022-09-16 09:32] daniellockyer commented on #1612
Whilst this does relate to node-sqlite3, I think it's more of an Electron building issue 🙂

[2022-09-16 09:32] #1612 closed

[2022-09-16 09:48] daniellockyer commented on #1484
Minimal repro:

[code]

[2022-09-16 10:03] daniellockyer commented on #1060
It seems this is only an issue when the dbPath is invalid (ie. it contains a directory that doesn't exist). In which case, I'm going to close this in favor of the more recent https://github.com/TryGhost/node-sqlite3/issues/1617

[2022-09-16 10:03] #1060 closed

[2022-09-16 10:05] ouliuquan commented on #1635
@daniellockyer Hi, I have been known that @vscode/sqlite3 is not your repo, it's so sorry about this issue.
The truely repo is here https://github.com/microsoft/vscode-node-sqlite3, thanks for your patience

[2022-09-16 10:05] #1635 closed

[2022-09-16 10:05] daniellockyer commented on #1635
No problem 🙂

[2022-09-16 10:08] daniellockyer commented on #397
I can't seem to reproduce this so I'm going to close the issue 🙂

[2022-09-16 10:08] #397 closed

[2022-09-16 10:18] daniellockyer commented on #1517
To be honest, https://github.com/TryGhost/node-sqlite3/issues/70#issuecomment-25844364 is probably the best answer we can give. You'll need to find out how to build libsqlite3 with ICU support in their docs 🙂

[2022-09-16 10:18] #1517 closed

[2022-09-17 17:38] daniellockyer commented on #1431
Whilst this is true, SQLite does not have a native storage type for date/time. You'd need to supply the columns to node-sqlite3 which are datetime so we can serialize them back to native JS Date objects, and I feel like that is going to bloat the API.

[2022-09-17 17:38] #1431 closed

[2022-09-17 17:50] daniellockyer commented on #1619
If you're using SQLCipher, there's a blog post here detailing how to use it: https://coolaj86.com/articles/building-sqlcipher-for-node-js-on-raspberry-pi-2/

Otherwise, this issue is not detailed enough for me to know your setup. Please re-open an issue if there's a bug or feature request 🙂

[2022-09-17 17:50] #1619 closed

[2022-09-17 17:58] daniellockyer commented on #1272
https://github.com/TryGhost/node-sqlite3/issues/1272#issuecomment-1030686397 is the valid fix for now. If there's sufficient demand, I'd accept a PR to add support for this 🙂

[2022-09-17 17:58] #1272 closed

[2022-09-17 18:02] daniellockyer commented on #1305
Unfortunately this is expected, as this is the result we are provided by SQLite 😕

[2022-09-17 18:02] #1305 closed

[2022-09-17 18:04] daniellockyer commented on #680
I can't seem to reproduce this nor do I see a bug listed here that is outside of what is expected. Closing for now 🙂

[2022-09-17 18:04] #680 closed

[2022-09-17 18:06] daniellockyer commented on #957
Whilst I understand the desire for this, this is unfortunately how SQLite works with binding parameters: https://www.sqlite.org/c3ref/bind_blob.html

[2022-09-17 18:06] #957 closed

[2022-09-17 18:19] daniellockyer commented on #2
I like the PRAGMA suggestions in this thread, so I don't think we explicitly need a specific API right now 🙂

[2022-09-17 18:19] #2 closed

[2022-09-18 10:23] tkalliom commented on #1431
Fair enough on the read part, but this report was mainly about the write part. The user of the library will definitely have to handle the times manually on read due to it being unfeasible to automate for the reasons you stated. On the other hand, for writes the driver could well provide a behavior that is arguably more sane: writing the values as seconds. This way no extra steps would be needed by

[2022-09-20 06:35] daniellockyer commented on #1355
Happy to accept a PR for this 🙂

[2022-09-20 11:14] thebinarysearchtree opened #1638 "regexp is not supported"
### Summary

Whether I download the prebuilt binaries of sqlite, or use the built-in sqlite3 command in MacOS, the regexp operator is supported. Yet, when I use this driver via nodejs, the regexp operator is not supported, even when it uses the same version of sqlite. Further, downloading the regexp.c extension included with the sqlite source code and compiling it and then trying to load it as an

[2022-09-26 13:31] jouannoj opened #1639 "SQLITE_ERROR: no such function: REGEXP"
### Issue Summary

When I use the REGEXP function in a query directly in sqlite 3 CLI tools it's work fine

But when I try to use it with node-sqlite3 through sequelize I got this error message: SQLITE_ERROR: no such function: REGEXP

I try the loadExtension with https://github.com/ralight/sqlite3-pcre.git but nothing works

### Steps to Reproduce

npm i sqlite3

[code]

### Version

5.1.1

### No

[2022-09-30 15:37] MaxAzarov opened #1640 "Password for sqlite"
### Summary

Nowadays it is necessary to keep data safe. Is it possible to implement authentication using the password for the sqlite database?

### Proposed implementation

If we use DB Browser for SQlite, we need to pass a password to get in

[2022-10-03 10:01] gpetrov opened #1641 "switch to prebuild for better binary distribution and electron support"
### Summary

Currently node-sqlite3 uses node-pre-gyp for building and delivers only node compatible modules.

### Proposed implementation

To achieve wider binary distribution and to support electron prebuild binaries, a support for [prebuild ](https://github.com/prebuild/prebuild) is desired.

See https://nodejs.github.io/node-addon-examples/build-tools/prebuild/

[2022-10-03 10:22] gpetrov commented on #1641
Also node-pre-gyp is hitting a bit of a dead-end. See https://github.com/mapbox/node-pre-gyp/issues/657

[2022-10-04 06:47] daniellockyer commented on #1641
I'm also coming to the same conclusion 🙂 I'd like to serve `armv6` and `armv7` but I ran into a bug with node-pre-gyp: https://github.com/mapbox/node-pre-gyp/issues/348#issuecomment-1100938899

I'd welcome a PR to change over to prebuild. Else I can look at changing this but I have no ETA on that right now

[2022-10-05 23:58] CleitonGuilherme commented on #1424
mano no meu para poder resolver o erro foi só instalar o pyton que eu ainda não tinha na maquina, tente isso, acredito que vai da certo., caso contrario, remova o node_modules e package.son e depois npm i acredito que vai resolver, porém tente a primeira opção.

[2022-10-06 03:56] daniellockyer commented on #1641
That being said, it doesn't look like it would solve my problem: https://github.com/prebuild/prebuild/issues/174

[2022-10-08 10:53] gpetrov commented on #1404
I'm also very interested in getting the query output metadata. Are there any developments in that area? @daniellockyer

[2022-10-10 03:01] xiaoye-x opened #1642 "I can't install Sqlite3 on my armbian system via npm"
### Issue Summary

I can't install Sqlite3 on my armbian system via npm

`install response status 404 Not Found on https://github.com/TryGhost/node-sqlite3/releases/download/v5.1.2/napi-v6-linux-glibc-arm.tar.gz `

### Relevant logs or output

[code]

### Version

the latest

### Node.js Version

v12.22.9

### How did you install the library?

npm install sqlite3

Linux dragino-3e1a15 5.15.43-drag

[2022-10-10 08:03] daniellockyer commented on #1642
@xiaoye-x Unfortunately we don't currently offer Linux `arm` binaries, so this library has to be compiled - https://github.com/TryGhost/node-sqlite3#prebuilt-binaries

If you look at the error, `npm ERR! gyp ERR! stack Error: not found: make`. You should install `build-essential` or whatever your system provides `make` under

[2022-10-10 08:03] #1642 closed

[2022-10-11 21:46] harel opened #1643 "Cannot build with a custom source files for SQLite (e.g. SQLite SEE extension)"
### Issue Summary

I'm trying to install sqlite3 on node 16.x, using a custom amalgamation file from the SEE encryption extension of sqlite3.

I have tried both with npm and yarn, with the same result - I do not believe the source file is used and instead it's compiling the original source, which then causes an exception in the node console when I try to query an encrypted database.

npm:
`npm ins

[2022-10-13 02:05] daniellockyer commented on #1621
I'm going to close this as we ship Darwin ARM binaries and I still can't reproduce the issue. Happy to re-open if it is still an issue down the line

[2022-10-13 02:05] #1621 closed

[2022-10-13 15:12] ncortines opened #1644 "Unknown Runtime: 'electron '"
### Issue Summary

Hi 👋

I'm trying to rebuild the module with sqlcipher support for electron 21.1.0, and I'm getting the error `Unknown Runtime: 'electron '`.

I'm not sure where the problem is. Most likely I'm not doing something properly.

I'd much appreciate if someone could take a look at this logs.

Thanks!

[code]

### Steps to Reproduce

1. Rebuild the module with sqlcipher for electron 21

[2022-10-13 15:26] #1644 closed

[2022-10-13 15:28] ncortines commented on #1644
My bad, I have read the docs better and now I'm setting proper flags. Now I'm stuck on a 403 while downloading headers :)

[2022-10-17 20:17] joshuakb2 opened #1645 "npm install fails when using a private registry"
### Issue Summary

In NPM 7 and 8, trying to install the `sqlite3` npm package fails if a custom registry is configured.

Here is NPM's bug: https://github.com/npm/cli/issues/5234

Maybe NPM just needs to fix this, but from that issue it looks like a different package was able to work around the NPM bug. That issue also mentions a workaround that helped me overcome this issue for now.

### Relevan

[2022-10-18 11:14] Umar-Juraev commented on #935
the same issue (

[2022-10-18 19:47] dnicolson opened #1646 "Node-API crash with unhandled promise after SQLITE_CANTOPEN"
### Issue Summary

The following crash occurs when a promise doesn't resolve and the SQLite file cannot be opened:
- Version 4.2.0 is not affected
- The crash occurs with the path `xxx/x.db` but not `x.db`

[code]

### Steps to Reproduce

1. Set up project directory and empty files
[code]
2. Write to `index.js` and `worker.js`:

index.js:
[code]

worker.js:
[code]

3. Run the test
[code]

### Vers

[2022-10-19 10:29] jonathanyeung opened #1647 "Windows ARM64 prebuilt binary"
### Summary

Would it be possible to include a prebuilt binary for win32/arm64?

### Proposed implementation

- napi-v6-win32-unknown-arm64
- napi-v3-win32-unknown-arm64

[2022-10-24 04:10] daniellockyer commented on #1647
Would happily welcome a CI change to support this - I'm not sure what it'd need right now. Presumably we can cross compile?

[2022-10-25 01:19] aptalca opened #1648 "Can't retrieve 5.0.2 source tarball from aws (403 error)"
### Issue Summary

We have an app that depends on sqlite3 v5.0.2 and we're building on alpine (musl) where there were no prebuilt binaries. When yarn tries to retrieve the source tarball from aws, it gets a 403

Here's the log snippet:
[code]

### Steps to Reproduce

1. Spin up alpine os
2. Try to install v5.0.2 with yarn

### Version

v5.0.2

### Node.js Version

16.17.1

### How did you install

[2022-10-25 01:24] aptalca commented on #1648
My bad, I read the log wrong, that was the prebuilt binary that it failed to retrieve, which is expected as it didn't exist.

[2022-10-25 01:24] #1648 closed

[2022-10-26 21:17] risingphoenix opened #1650 "is it still possible in 2022 to compile the module for node-webkit 0.9.2 or 0.10.5?"
### Issue Summary

I know perfectly well that this may not be the ideal place to ask these kinds of questions, and I apologize in advance for my limited knowledge of the whole build process.

The fact is that I need to recompile the library for a past version of node-webkit: 0.9.2 or 0.10.5 on windows.
I followed several guides and read many comments and issues from the period of the release of th

[2022-10-27 01:18] vinaciotm commented on #1413
works for me

[2022-10-29 20:12] Chris763454357 opened #1651 "A dynamic link library (DLL) initialization routine failed."
### Issue Summary

I get the following error when trying to use sqlite3

[code]

The frustrating thing is this used to work, but in my failing attempts to package my application as an exe something broke, since then I have never been able to get slite3 to work again. Probably spent +10 hours over the last few months trying many random things based on google search. Can't get anything to work. I do

[2022-10-30 06:05] shadowvzs opened #1652 "Installation failing for electron project"
### Issue Summary
OS: ubuntu 64bit

when I try to install it as it was written on the sqlite3 npm page then I get this error

```yarn workspace @pb/electron add sqlite3 --build-from-source --runtime=electron --target=18.2.1 --dist-url=https://electronjs.org/headers```

### Relevant logs or output

[code]

### Version

i tried the latest but cannot install

### Node.js Version

18.2.0

### How did

[2022-11-03 23:27] gRoussac commented on #1588
👋🏻 This can be reproduced with Webpack probably because of this package dependencies error.

https://github.com/mapbox/node-pre-gyp/issues/661

which indeed seems to happen between 5.0.2 and 5.0.3

[2022-11-04 03:38] i124q2n8 opened #1653 "Registering multiple event listeners on the same event does not work"
### Issue Summary

Using `on` / `addListener` multiple times with the same event name does not fire any of the attached listeners. This seems to be true for all events that use the `Register*Callback` function from `database.cc`. I will use `on('change')` as an example.

This is due to the way the `Database::Register*Callback` functions are implemented:
[code]

Calling `on('change', ...)` will inv

[2022-11-04 04:24] daniellockyer commented on #1652
This issue looks unrelated to sqlite3 and moreso to do with your use of CJS + ESM 🙂

[2022-11-04 04:24] #1652 closed

[2022-11-08 18:11] raja-muhammad-asher commented on #1424
Solved my issue for Ubuntu 22.04 and version 5.0.2

[2022-11-08 21:42] Risto-Stevcev commented on #1588
I'm getting this error with tauri

[2022-11-10 17:58] benallfree opened #1655 "Database.backup() typings?"
### Summary

Hi, I noticed there are no TS typings for `Database.backup` and the `Backup` class.

Would you like a PR for that?

https://github.com/TryGhost/node-sqlite3/blob/master/src/backup.h#L17

### Proposed implementation

Add typings and wiki docs for https://github.com/TryGhost/node-sqlite3/blob/master/src/backup.h#L17

[2022-11-11 04:08] daniellockyer commented on #1655
A PR for this would be great 🙂

[2022-11-13 06:28] RinkAttendant6 commented on #1636
This appears to be a duplicate of https://github.com/TryGhost/node-sqlite3/issues/834

[2022-11-14 06:39] vipansh commented on #1552
I M GETTING THEW SAME ERROR

[2022-11-14 08:33] daniellockyer commented on #1636
Good point - closing as a duplicate of https://github.com/TryGhost/node-sqlite3/issues/834

[2022-11-14 08:33] #1636 closed

[2022-11-15 09:56] VishalBhandare-Apertumo commented on #1552
@olso-nordsec @christopher-caldwell
Following commands work for me. I was also getting syntax error

brew install pyenv
pyenv install 2.7.18
which -a python2
export npm_config_python=<output of which -a python2 command>

[2022-11-15 16:11] Pomax commented on #1552
yet again: _do not install python 2.7_, you do _not_ need it and it's a dead, unsupported, security-hole technology now. 1) update your sqlite3 to the version Daniel just released. If that doesn't work: 2) install node-gyp 9 in your project dir, _then_ install your package version of sqlite3 so that it gets compiled with a modern node_gyp that knows that python means python 3

[2022-11-18 19:01] felixniemeyer opened #1657 "prepared statement .get(...) leaves database locked while .all(...) works fine"
### Issue Summary

I have 2 processes, one stores stuff on the sqlite db the other reads.
I'm not using wal and I think I don't need to because writes are very infrequent and the db is not very busy overall.

One process that reads stuff is an node express web server. It uses node-sqlite3 to access the db.

It has one api-function that returns a `resource` by its primary key. So I really want zero

[2022-11-21 15:56] pedefe opened #1658 "fails to run in pkg-generated program"
### Issue Summary

On arm64 proc. computer:
- install of node-pre-gyp@0.17.0 succeeds;
- install of sqlite3@5.1.2 succeeds;
- generate program with pkg succeeds: pkg -t node12-linux-arm64 index.js -o prog_name

When running program, fails when loads sqlite3.

### Relevant logs or output

include sqlite3...
pkg/prelude/bootstrap.js:1876
      throw error;
      ^

Error: Cannot find module '/snapsh

[2022-11-28 13:23] VGerris commented on #1226
just to clear up some things before people uninstall things because lack of knowlegde. A client is not the same as the application, especially not from localhost. Both MySQL and PostgreSQL have access limitations and privileges on localhost / cerain user often. So if your app is not connecting from and with localhost connection settings, it may not work at all.

The connection refused is clearly f

[2022-11-29 15:39] WorkFeder opened #1659 "Install failed, napi-v6-linux-musl-arm.tar.gz not found"
### Issue Summary

I'm trying to install the package with `npm install sqlite3` on an ARMv7 platform.

### Relevant logs or output

npm WARN deprecated @npmcli/move-file@1.1.2: This functionality has been moved to @npmcli/fs
npm ERR! code 1
npm ERR! path /usr/src/node-red/node_modules/sqlite3
npm ERR! command failed
npm ERR! command sh -c node-pre-gyp install --fallback-to-build
npm ERR! make: Ent

[2022-11-30 19:45] NatuRal3 commented on #1554
brew install vips
Solved my issue.